Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Automated CI/CD repairs #78 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #79 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #80 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #81 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #82 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: Inventory management models (#416)
  backend/app/models/inventory_v20.py
Due: mypy

feat: Sales order models (#418)
  backend/app/models/sales_v20.py
Due: mypy

fix: Automated CI/CD repairs #84 [CC03 v36]
  CC03_v49_DEPLOYMENT_REPORT.md
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/k8s/update-deploy.sh
  infrastructure_metrics.json
Due: none

Add ColorPicker component from feature branch merge
  frontend/src/components/ui/ColorPicker.tsx
Due: typescript

Complete ERP Core v47.0: Full Product & Inventory Management System
  frontend/src/App.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/inventory/InventoryOverview.tsx
  frontend/src/pages/inventory/StockAdjustmentForm.tsx
  frontend/src/pages/inventory/StockMovements.tsx
  frontend/src/pages/products/ProductDetail.tsx
  frontend/src/pages/products/ProductForm.tsx
  frontend/src/pages/products/ProductList.tsx
Due: typescript

feat: CC02 v49.0 TDD Implementation Overdrive - 48H Backend Blitz START
  backend/app/api/v1/endpoints/products.py
  backend/app/core/database.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_products.py
  backend/tests/conftest.py
Due: mypy

feat: Add production-ready Kubernetes manifests for ITDO ERP v2
  infra/k8s/backend/configmap.yaml
  infra/k8s/backend/deployment.yaml
  infra/k8s/backend/hpa.yaml
  infra/k8s/backend/service.yaml
  infra/k8s/data/postgres-statefulset.yaml
  infra/k8s/data/redis-deployment.yaml
  infra/k8s/frontend/deployment.yaml
  infra/k8s/frontend/ingress.yaml
  infra/k8s/frontend/service.yaml
  infra/k8s/namespaces/namespace.yaml
  infra/k8s/secrets/secrets.yaml
Due: none

fix: Automated CI/CD repairs #85 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: CC02 v49.0 TDD Enhancement - Database Models & Schema Integration
  backend/app/api/v1/endpoints/products.py
  backend/app/models/product.py
  backend/app/schemas/product.py
  backend/tests/api/v1/test_products.py
Due: mypy

feat: CC02 v49.0 Phase 2 - Inventory Management API TDD Complete
  backend/app/api/v1/endpoints/inventory.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_inventory.py
  backend/tests/conftest.py
Due: mypy

feat: CC02 v49.0 Phase 3 - Customer Management API TDD Complete
  backend/app/api/v1/endpoints/customers.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_customers.py
  backend/tests/conftest.py
Due: mypy

fix: Automated CI/CD repairs #87 [CC03 v36]
  CC03_v50_COMPLETION_REPORT.md
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/.env.prod.example
  infra/compose-prod.yaml
  infrastructure_metrics.json
Due: none

feat: CC02 v49.0 Phase 4 - Order Management API Complete & 4-API Integration
  backend/app/api/v1/endpoints/customers.py
  backend/app/api/v1/endpoints/orders.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_orders.py
  backend/tests/conftest.py
Due: mypy

feat: Production Docker Compose deployment infrastructure
  infra/backup-prod.sh
  infra/compose-monitoring.yaml
  infra/deploy-prod.sh
  infra/monitoring/prometheus/prometheus.yml
  infra/nginx/nginx-prod.conf
  infra/postgres/postgres-prod.conf
Due: none

fix: Automated CI/CD repairs #89 [CC03 v36]
  CC03_v51_COMPLETION_REPORT.md
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

🏦 CC01 v49.0 Phase 2: Financial Management Sprint Complete
  frontend/src/pages/accounting/AccountingDashboardPage.tsx
  frontend/src/pages/accounting/ExpenseTrackingPage.tsx
  frontend/src/pages/accounting/InvoiceManagementPage.tsx
  frontend/src/pages/accounting/PayrollManagementPage.tsx
Due: typescript

feat: Complete CC03 v52.0 CI/CD Production Pipeline Implementation
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/monitor-production.yml
  .github/workflows/validate-workflows.yml
  CC03_v52_COMPLETION_REPORT.md
Due: none

feat: CC02 v50.0 Phase 1 COMPLETE - Core Products API (18/18 tests)
  backend/app/api/v1/endpoints/products_core.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_products_core.py
  backend/tests/conftest.py
Due: mypy

feat: CC02 v50.0 Phase 2 COMPLETE - Core Inventory API (12/12 tests)
  backend/app/api/v1/endpoints/inventory_core.py
  backend/app/main_super_minimal.py
  backend/docs/cc02_v39_progress/progress_1753394808.json
  backend/tests/api/v1/test_inventory_core.py
  backend/tests/conftest.py
Due: mypy

feat: Complete CC02 v50.0 Phase 3 - Sales API Implementation
  backend/app/api/v1/endpoints/sales_core.py
  backend/app/main_super_minimal.py
  backend/tests/api/v1/test_sales_core.py
  backend/tests/conftest.py
Due: mypy

🚀 FEAT: CC01 v49.0 Complete - 12 Enterprise Business Screens
  frontend/src/pages/admin/SystemSettingsPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/pages/reports/ReportsAnalyticsPage.tsx
Due: typescript

fix: Automated CI/CD repairs #90 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #91 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: Complete CC03 v54.0 Production Infrastructure Implementation
  infra/.env.prod
  infra/compose-prod.yaml
  infra/keycloak/realm-export.json
  infra/redis/redis-prod.conf
  scripts/start-prod-env.sh
Due: none

fix: Automated CI/CD repairs #92 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #93 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #94 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #95 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #96 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

🚀 FEAT: CC01 v49.0 Complete - 12 Enterprise Business Screens (#559)
  frontend/src/pages/admin/SystemSettingsPage.tsx
  frontend/src/pages/admin/UserManagementPage.tsx
  frontend/src/pages/reports/ReportsAnalyticsPage.tsx
Due: typescript

fix: Automated CI/CD repairs #97 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #98 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
