Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/__init__.py
  backend/app/api/v1/endpoints/feature_flags.py
  backend/app/api/v1/health.py
  backend/app/api/v1/router.py
  backend/app/api/v1/users_complete_v30.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/budget.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  backend/tests/test_feature_flags.py
  backend/tests/test_health_checks.py
  backend/tests/unit/test_inventory.py
  backend/tests/unit/test_products.py
  backend/tests/unit/test_sales.py
  backend/tests/unit/test_users.py
  frontend/src/components/admin/FeatureFlagsManager.tsx
  frontend/src/components/common/FeatureFlagWrapper.tsx
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/services/featureFlags.ts
  frontend/src/test/featureFlags.test.tsx
Due: mypy, typescript

CI optimization: ruff_format
  backend/app/api/v1/audit.py
  backend/app/api/v1/budgets.py
  backend/app/api/v1/customer_activities.py
  backend/app/api/v1/expense_categories.py
  backend/app/api/v1/financial_reports.py
  backend/app/api/v1/multi_tenant.py
  backend/app/api/v1/notifications.py
  backend/app/api/v1/opportunities.py
  backend/app/api/v1/organizations.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/router.py
  backend/app/api/v1/security_monitoring.py
  backend/app/api/v2/__init__.py
  backend/app/api/v2/router.py
  backend/app/core/versioning.py
  backend/app/main.py
  backend/app/schemas/security_monitoring.py
  backend/app/services/application_service.py
  backend/app/services/budget_service.py
  backend/app/services/expense_service.py
  backend/app/services/financial_reports_service.py
  backend/app/services/notification.py
  backend/app/services/pm_automation.py
  backend/app/services/security_monitoring.py
  backend/tests/integration/api/v1/test_security_monitoring.py
  backend/tests/unit/test_api_versioning.py
Due: mypy

CI optimization: ruff_format
  backend/app/api/v1/enhanced_departments.py
  backend/app/api/v1/enhanced_organizations.py
  backend/app/api/v1/expenses.py
  backend/app/api/v1/financial_reports.py
  backend/app/api/v1/roles.py
  backend/app/api/v1/router.py
  backend/app/api/v1/user_organization_assignment.py
  backend/app/schemas/department.py
  backend/app/schemas/user_assignment.py
  backend/app/services/enhanced_department_service.py
  backend/app/services/enhanced_organization_service.py
  backend/app/services/expense_service.py
  backend/app/services/financial_reports_service.py
  backend/app/services/user_assignment_service.py
  backend/tests/integration/api/v1/test_organization_hierarchy_integration.py
  backend/tests/integration/api/v1/test_role_management_integration.py
  backend/tests/unit/api/v1/test_enhanced_organizations.py
  backend/tests/unit/api/v1/test_role_management.py
Due: mypy

fix: Resolve conflicts and improve quality - PR #410
  backend/app/api/v1/endpoints/feature_flags.py
  backend/app/api/v1/health.py
  backend/app/api/v1/inventory.py
  backend/app/api/v1/inventory_v21.py
  backend/app/api/v1/products.py
  backend/app/api/v1/products_quantum_transcendence_v45.py
  backend/app/api/v1/products_v21.py
  backend/app/api/v1/router.py
  backend/app/api/v1/sales_orders.py
  backend/app/api/v1/sales_v21.py
  backend/app/api/v1/test_minimal.py
  backend/app/api/v1/users_complete_v30.py
  backend/app/core/cache.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/integration_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/task.py
  backend/app/models/user_extended.py
  backend/app/models/workflow_extended.py
  backend/app/schemas/budget.py
  backend/app/schemas/user_complete_v30.py
  backend/app/services/permission_inheritance.py
  backend/docs/cc02_v39_progress/progress_1753327601.json
  backend/tests/api/test_users_complete_v30.py
  backend/tests/test_feature_flags.py
  backend/tests/test_health_checks.py
  backend/tests/unit/test_users.py
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/__init__.py
  backend/app/api/v1/inventory.py
  backend/app/api/v1/organization_hierarchy.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/products.py
  backend/app/api/v1/reports.py
  backend/app/api/v1/router.py
  backend/app/api/v1/sales_orders.py
  backend/app/api/v1/test_minimal.py
  backend/app/core/cache.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/integration_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/task.py
  backend/app/models/workflow_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/app/services/permission_inheritance.py
  backend/tests/unit/test_inventory.py
  backend/tests/unit/test_products.py
  backend/tests/unit/test_sales.py
  frontend/src/components/admin/FeatureFlagsManager.tsx
  frontend/src/components/common/FeatureFlagWrapper.tsx
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/services/featureFlags.ts
  frontend/src/test/featureFlags.test.tsx
Due: mypy, typescript

feat: Add product registration form component (#429)
  frontend/src/components/products/ProductForm.tsx
Due: typescript

feat: Product list page with table view (#422)
  frontend/CC01_LOG.txt
  frontend/src/pages/products/ProductList.tsx
  frontend/src/pages/sales/SalesInput.tsx
Due: typescript

fix: resolve merge conflicts and focus on core ERP functionality
  backend/app/api/v1/health_simple.py
  backend/app/api/v1/inventory_basic.py
  backend/app/api/v1/products_basic.py
  backend/docs/cc02_v39_progress/progress_1753331213.json
  backend/docs/cc02_v39_progress/progress_1753332399.json
  backend/docs/cc02_v39_progress/progress_1753333598.json
Due: mypy

feat: Resolve PR #427 API conflicts - products.py and inventory.py
  backend/app/api/v1/inventory.py
  backend/app/api/v1/products.py
Due: mypy

feat: Resolve core ERP API conflicts in PR #427
  backend/app/api/v1/permissions.py
  backend/app/api/v1/sales_orders.py
Due: mypy

feat: User permissions and roles API (#427)
  INFRASTRUCTURE_REPORT.md
  backend/app/api/v1/endpoints/feature_flags.py
  backend/app/api/v1/health.py
  backend/app/api/v1/inventory.py
  backend/app/api/v1/inventory_v21.py
  backend/app/api/v1/organization_hierarchy.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/products.py
  backend/app/api/v1/products_v21.py
  backend/app/api/v1/reports.py
  backend/app/api/v1/router.py
  backend/app/api/v1/sales_orders.py
  backend/app/api/v1/sales_v21.py
  backend/app/api/v1/test_minimal.py
  backend/app/api/v1/users_complete_v30.py
  backend/app/core/cache.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/budget.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  backend/tests/test_feature_flags.py
  backend/tests/test_health_checks.py
  backend/tests/unit/test_inventory.py
  backend/tests/unit/test_products.py
  backend/tests/unit/test_sales.py
  backend/tests/unit/test_users.py
  infrastructure_metrics.json
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/__init__.py
  backend/app/api/v1/inventory.py
  backend/app/api/v1/organization_hierarchy.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/products.py
  backend/app/api/v1/reports.py
  backend/app/api/v1/sales_orders.py
  backend/app/api/v1/test_minimal.py
  backend/app/core/cache.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/crud/user_extended_v30.py
  backend/app/schemas/user_complete_v30.py
  frontend/src/components/admin/FeatureFlagsManager.tsx
  frontend/src/components/common/FeatureFlagWrapper.tsx
  frontend/src/components/products/ProductForm.tsx
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/pages/products/ProductList.tsx
  frontend/src/pages/sales/SalesInput.tsx
  frontend/src/services/featureFlags.ts
  frontend/src/test/featureFlags.test.tsx
Due: mypy, typescript

feat: Add comprehensive inventory list page (#420)
  frontend/src/pages/inventory/InventoryList.tsx
Due: typescript

fix: Automated CI/CD repairs #26 [CC03 v36]
  INFRASTRUCTURE_REPORT.md
  backend/scripts/run_erp_business_tests.py
  backend/tests/integration/test_erp_business_integration_full.py
  backend/tests/integration/test_erp_business_logic.py
  backend/tests/integration/test_erp_business_performance.py
  backend/tests/integration/test_erp_business_security.py
  infrastructure_metrics.json
Due: mypy

feat: Add product registration form component (#415)
  frontend/src/components/products/ProductRegistrationForm.tsx
Due: typescript

feat: Component #1 - UserAvatar (#443)
  backend/app/crud/user_extended_v30.py
  backend/app/schemas/user_complete_v30.py
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/UserAvatar.test.tsx
  frontend/src/components/ui/UserAvatar.tsx
  frontend/src/components/users/UserDetail.tsx
  frontend/src/components/users/UserForm.tsx
  frontend/src/components/users/UserList.tsx
  frontend/src/components/users/UserProfile.tsx
Due: mypy, typescript

fix: Automated CI/CD repairs #27 [CC03 v36]
  .github/workflows/production-deploy.yml
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  backend/Dockerfile.prod
  backend/tests/performance/test_erp_load_testing.py
  backend/tests/performance/test_erp_realtime_performance.py
  frontend/Dockerfile.prod
  frontend/nginx.prod.conf
  infrastructure_metrics.json
Due: mypy

fix: Automated CI/CD repairs #28 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/k8s/backend-deployment.yaml
  infra/k8s/configmap.yaml
  infra/k8s/namespace.yaml
  infra/k8s/postgresql-cluster.yaml
  infra/k8s/redis-cluster.yaml
  infra/k8s/secrets.yaml
  infrastructure_metrics.json
Due: none

feat: Product model (#413)
  backend/alembic/versions/004_create_products_v20.py
  backend/app/models/product_v20.py
Due: mypy

fix: Automated CI/CD repairs #29 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/k8s/cert-manager.yaml
  infra/k8s/deploy.sh
  infra/k8s/file-storage-service.yaml
  infra/k8s/frontend-deployment.yaml
  infra/k8s/ingress-nginx.yaml
  infra/k8s/monitoring-stack.yaml
  infra/k8s/storage-classes.yaml
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #30 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #31 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #32 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #33 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/k8s/elasticsearch-cluster.yaml
  infra/k8s/message-queue-system.yaml
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #34 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/k8s/email-delivery-service.yaml
  infra/k8s/pdf-generation-service.yaml
  infra/k8s/update-deploy.sh
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #35 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: Add user edit form component (#408)
  frontend/src/components/users/UserEditForm.tsx
Due: typescript

feat: Add enhanced product list page (#412)
  frontend/src/pages/products/ProductListEnhanced.tsx
Due: typescript

fix: Automated CI/CD repairs #36 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #37 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none
