Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

feat: Add reports API with sales and inventory reports
  backend/app/api/v1/reports.py
Due: mypy

feat: Add product registration form component
  frontend/src/components/products/ProductForm.tsx
Due: typescript

feat: Add organization hierarchy API
  backend/app/api/v1/organization_hierarchy.py
Due: mypy

feat: Add CI/CD optimization script with parallel execution
  scripts/optimize-ci.sh
Due: none

feat: Add API router integration for all endpoints
  backend/app/api/v1/__init__.py
Due: mypy

test: Add API integration tests
  backend/CC02_progress_v25.txt
  backend/tests/integration/test_api_integration.py
Due: mypy

update: Progress tracking file
  backend/CC02_progress_v25.txt
Due: none

test: Add products API unit tests
  backend/tests/unit/test_products.py
Due: mypy

test: Add inventory API unit tests
  backend/tests/unit/test_inventory.py
Due: mypy

test: Add sales API unit tests
  backend/tests/unit/test_sales.py
Due: mypy

test: Add users API unit tests
  backend/tests/unit/test_users.py
Due: mypy

test: Add organizations API unit tests
  backend/CC02_progress_v25.txt
  backend/tests/unit/test_organizations.py
Due: mypy

test: Add reports API unit tests
  backend/CC02_progress_v25.txt
  backend/tests/unit/test_reports.py
Due: mypy

test: Add permissions API unit tests
  backend/CC02_progress_v25.txt
  backend/tests/unit/test_permissions.py
Due: mypy

test: Add error-handling API unit tests
  backend/CC02_progress_v25.txt
  backend/tests/unit/test_error_handling.py
Due: mypy

update: Final progress tracking
  backend/CC02_progress_v25.txt
Due: none

feat: Add layout and navigation components (Phase 1)
  CC01_progress_v26.txt
  frontend/src/components/layout/AppShell.tsx
  frontend/src/components/layout/Breadcrumb.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/NavLink.tsx
  frontend/src/components/layout/NotificationBell.tsx
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/components/layout/SearchBar.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/layout/TabNavigation.tsx
Due: typescript

feat: Add common UI components (Phase 2)
  CC01_progress_v26.txt
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Checkbox.tsx
  frontend/src/components/ui/Drawer.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/LoadingSpinner.tsx
  frontend/src/components/ui/Modal.tsx
  frontend/src/components/ui/Pagination.tsx
  frontend/src/components/ui/RadioButton.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/Switch.tsx
  frontend/src/components/ui/Table.tsx
  frontend/src/components/ui/Toast.tsx
Due: typescript

feat: Add SalesChart dashboard component (25th component)
  frontend/src/components/dashboard/SalesChart.tsx
Due: typescript

feat: Add UserAvatar component with status indicator
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/UserAvatar.test.tsx
  frontend/src/components/ui/UserAvatar.tsx
  frontend/src/components/users/UserDetail.tsx
  frontend/src/components/users/UserForm.tsx
  frontend/src/components/users/UserList.tsx
  frontend/src/components/users/UserProfile.tsx
Due: typescript

feat: Add NotificationBadge component with variants and max count
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/NotificationBadge.test.tsx
  frontend/src/components/ui/NotificationBadge.tsx
Due: typescript

feat: Add SearchInput component with debounce and clear functionality
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/SearchInput.test.tsx
  frontend/src/components/ui/SearchInput.tsx
Due: typescript

feat: Add DatePicker component with calendar navigation and date restrictions
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/DatePicker.test.tsx
  frontend/src/components/ui/DatePicker.tsx
Due: typescript

feat: Add comprehensive DevOps infrastructure
  CC03_devops_log_v27.txt
  backend/CC03_devops_log_v27.txt
  backend/Dockerfile.dev
  docker-compose.dev.yml
  docker-compose.monitoring.yml
  frontend/Dockerfile.dev
  monitoring/alertmanager/alertmanager.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus/prometheus.yml
  scripts/check-progress.sh
  scripts/health-check-all.sh
  scripts/init-db.sql
Due: none

feat: Add TimePicker component with 12/24 hour format support
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/TimePicker.test.tsx
  frontend/src/components/ui/TimePicker.tsx
Due: typescript

feat: Add ColorPicker component with preset colors and format support
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/ColorPicker.test.tsx
  frontend/src/components/ui/ColorPicker.tsx
Due: typescript

feat: Add FileUploader component with drag-drop and validation
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
Due: typescript

feat: Complete CC03 v27.0 DevOps infrastructure project
  backend/CC03_devops_log_v27.txt
  backend/Dockerfile.prod
Due: none

feat: Add ProgressBar component with dynamic variants and striped animation
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
Due: typescript

feat: Add complete CC03 v27.0 infrastructure files
  .github/workflows/advanced-ci.yml
  .github/workflows/deploy.yml
  CC03_DEVOPS_PROJECT_COMPLETION_REPORT.md
  docker-compose.logging.yml
  frontend/Dockerfile.prod
  frontend/nginx.conf
  logging/filebeat/filebeat.yml
  logging/logstash/pipeline/logstash.conf
  monitoring/grafana/provisioning/dashboards/dashboard.yml
Due: none

feat: Add Stepper component with horizontal/vertical layouts and status indicators
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Stepper.test.tsx
  frontend/src/components/ui/Stepper.tsx
Due: typescript

feat: Add Tooltip component with multi-trigger support and positioning
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Tooltip.test.tsx
  frontend/src/components/ui/Tooltip.tsx
Due: typescript

feat: add Popover component with multi-trigger support
  frontend/src/components/ui/Popover.test.tsx
  frontend/src/components/ui/Popover.tsx
Due: typescript

feat: add Modal component with accessibility and animations
  frontend/src/components/ui/Modal.test.tsx
  frontend/src/components/ui/Modal.tsx
Due: typescript

feat: add Drawer component with multi-placement support
  frontend/src/components/ui/Drawer.test.tsx
  frontend/src/components/ui/Drawer.tsx
Due: typescript

feat: Complete user management API with 10 endpoints
  CC02_progress_v30.txt
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
Due: mypy

feat: Complete organization management API with 10 endpoints
  CC02_progress_v30.txt
  backend/app/api/v1/organizations_complete_v30.py
  backend/app/crud/organization_extended_v30.py
  backend/app/models/organization_extended.py
  backend/app/schemas/organization_complete_v30.py
  backend/tests/api/test_organizations_complete_v30.py
Due: mypy

feat: add Tabs component with comprehensive features
  frontend/src/components/ui/Tabs.test.tsx
  frontend/src/components/ui/Tabs.tsx
Due: typescript

feat: add Accordion component with advanced features
  frontend/src/components/ui/Accordion.test.tsx
  frontend/src/components/ui/Accordion.tsx
Due: typescript

feat: add Breadcrumb component with advanced navigation features
  frontend/src/components/ui/Breadcrumb.test.tsx
  frontend/src/components/ui/Breadcrumb.tsx
Due: typescript
