Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Resolve TypeScript and test issues for Badge component
  CC03_V38_COMPLETION_REPORT.md
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
  k8s/monitoring/complete-observability-stack.yaml
  k8s/production/complete-v38-stack.yaml
  k8s/security/comprehensive-security-hardening.yaml
  scripts/auto_prevention_system_v38.py
  scripts/continuous_infrastructure_optimization_v38.py
  scripts/master_orchestrator_v38.py
  scripts/observability_automation_v38.py
  scripts/security_automation_v38.py
Due: typescript

feat: Add CC03 v41.0 comprehensive infrastructure optimization
  .github/workflows/optimized-ci-v41.yml
  CC03_V41_COMPLETION_REPORT.md
  k8s/monitoring/comprehensive-monitoring-stack-v41.yaml
  scripts/continuous_execution_protocol_v41.py
  scripts/monitoring_automation_v41.py
Due: none

🚀 CC03 v41.0: Comprehensive Infrastructure Optimization & Monitoring (#534)
  .github/workflows/optimized-ci-v41.yml
  CC03_V41_COMPLETION_REPORT.md
  k8s/monitoring/comprehensive-monitoring-stack-v41.yaml
  scripts/continuous_execution_protocol_v41.py
  scripts/monitoring_automation_v41.py
Due: none

test: error-handling API unit tests (#441)
  backend/tests/unit/test_error_handling.py
  backend/tests/unit/test_permissions.py
  backend/tests/unit/test_reports.py
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/crud/product_extended_v30.py
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/test/setup.ts
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/crud/organization_extended_v30.py
  backend/app/schemas/organization_complete_v30.py
  frontend/src/test/setup.ts
Due: mypy, typescript

feat: Complete User Management API (10 endpoints) (#457)
  CC02_progress_v30.txt
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/product_extended_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
Due: mypy

feat: Component #19 - Badge with versatile features (#466)
  CC03_V38_COMPLETION_REPORT.md
  INFRASTRUCTURE_REPORT.md
  backend/app/crud/product_extended_v30.py
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
  infrastructure_metrics.json
  k8s/monitoring/complete-observability-stack.yaml
  k8s/production/complete-v38-stack.yaml
  k8s/security/comprehensive-security-hardening.yaml
  scripts/auto_prevention_system_v38.py
  scripts/continuous_infrastructure_optimization_v38.py
  scripts/master_orchestrator_v38.py
  scripts/observability_automation_v38.py
  scripts/security_automation_v38.py
Due: mypy, typescript

fix: resolve merge conflict and sync changes
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: Complete Organization Management API (10 endpoints) (#458)
  CC02_progress_v30.txt
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  backend/app/api/v1/organizations_complete_v30.py
  backend/app/crud/organization_extended_v30.py
  backend/app/models/organization_extended.py
  backend/app/schemas/organization_complete_v30.py
  backend/tests/api/test_organizations_complete_v30.py
  infrastructure_metrics.json
Due: mypy

fix: sync CI health report
  CI_HEALTH_REPORT.md
Due: none

feat: Add ProgressBar component with dynamic variants and striped animation (#450)
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
Due: typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
Due: mypy

feat: Add FileUploader component with drag-drop and validation (#449)
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
Due: typescript

feat: Add ColorPicker component with preset colors and format support (#448)
  frontend/src/components/ui/ColorPicker.test.tsx
  frontend/src/components/ui/ColorPicker.tsx
Due: typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/SearchInput.test.tsx
  frontend/src/components/ui/SearchInput.tsx
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/NotificationBadge.test.tsx
  frontend/src/components/ui/NotificationBadge.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/users_complete_v30.py
  backend/app/crud/user_extended_v30.py
  backend/app/models/user_extended.py
  backend/app/schemas/user_complete_v30.py
  backend/tests/api/test_users_complete_v30.py
  frontend/src/components/ui/FileUploader.test.tsx
  frontend/src/components/ui/FileUploader.tsx
  frontend/src/components/ui/ProgressBar.test.tsx
  frontend/src/components/ui/ProgressBar.tsx
  frontend/src/components/ui/UserAvatar.test.tsx
  frontend/src/components/ui/UserAvatar.tsx
  frontend/src/components/users/UserDetail.tsx
  frontend/src/components/users/UserForm.tsx
  frontend/src/components/users/UserList.tsx
  frontend/src/components/users/UserProfile.tsx
Due: mypy, typescript

test: users API unit tests (#437)
  backend/tests/unit/test_users.py
Due: mypy

test: Sales API unit tests (#436)
  backend/tests/unit/test_sales.py
Due: mypy

test: Inventory API unit tests (#435)
  backend/tests/unit/test_inventory.py
Due: mypy

test: Products API unit tests (#434)
  backend/tests/unit/test_products.py
Due: mypy

feat: API router integration (#431)
  backend/app/api/v1/__init__.py
Due: mypy

feat: Organization hierarchy API with tree structure (#430)
  backend/CC02_LOG.txt
  backend/CC02_alive.txt
  backend/app/api/v1/inventory.py
  backend/app/api/v1/inventory_v21.py
  backend/app/api/v1/organization_hierarchy.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/products.py
  backend/app/api/v1/products_v21.py
  backend/app/api/v1/reports.py
  backend/app/api/v1/sales_orders.py
  backend/app/api/v1/sales_v21.py
  backend/app/api/v1/test_minimal.py
  backend/app/core/cache.py
  backend/test_cc02.md
Due: mypy

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
