Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

fix: Resolve ruff code quality issues for CI compliance
  backend/add_department_columns.py
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

fix: UserRole validation errors and datetime timezone issues
  backend/app/models/role.py
  backend/app/schemas/role.py
  backend/app/services/role.py
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

fix: Resolve test database isolation issues (Issue #109)
  backend/tests/conftest.py
  backend/tests/factories/user.py
Due: mypy

Fix PR #98 backend test failures: UserFactory and AuthService issues
  backend/tests/integration/api/v1/test_users_extended.py
  backend/tests/security/test_auth_token_edge_cases.py
Due: mypy

Fix code formatting issues in test files
  backend/tests/integration/api/v1/test_users_extended.py
Due: mypy

fix: Complete UserRole API endpoint fixes
  backend/app/api/v1/roles.py
  backend/app/services/role.py
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

fix: Apply test isolation optimizations to PR #124
  backend/tests/conftest.py
  backend/tests/factories/department.py
  backend/tests/integration/api/v1/test_departments.py
Due: mypy

fix: Code quality issues - ruff formatting
  backend/app/services/role.py
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

docs: Test Fixes Knowledge Base for Backend Integration Issues (#104) (#141)
  backend/PR_CI_STATUS_SUMMARY_2025-07-14.md
  backend/WORK_REPORT_2025-07-14_18-20.md
  backend/app/services/organization.py
  docs/test-fixes-knowledge-base.md
Due: mypy

Fix code quality issues in PR #124
  backend/alembic/versions/006_fix_role_permissions_id.py
  backend/app/schemas/permission_management.py
  backend/app/services/permission.py
Due: mypy

Fix test isolation issues in UserRepository tests
  backend/tests/unit/repositories/test_user_repository.py
Due: mypy

Fix code formatting issues in UserRepository tests
  backend/tests/unit/repositories/test_user_repository.py
Due: mypy

Fix additional code formatting issues
  backend/tests/conftest.py
  backend/tests/factories/user.py
Due: mypy

Fix task API integration tests - resolve import errors
  backend/tests/test_task_management/integration/test_task_api.py
Due: mypy

Fix critical type safety issues for Phase 3 completion
  backend/app/models/permission.py
  backend/app/models/permission_inheritance.py
  backend/app/models/user_preferences.py
  backend/app/models/user_privacy.py
Due: mypy

Fix code formatting for CI/CD compliance
  backend/tests/test_task_management/integration/test_task_api.py
Due: mypy

Task Management Service Phase 1 Complete - RBAC + Audit Logs + Multi-tenant (#94)
  backend/PR94_MERGE_READY.md
  backend/SPRINT2_COMPLETION_REPORT.md
  backend/alembic/versions/006_add_department_hierarchy_fields.py
  backend/alembic/versions/006_complete_type_safe_schema.py
  backend/alembic/versions/007_add_task_department_integration.py
  backend/app/models/department.py
  backend/app/repositories/department.py
  backend/app/repositories/organization.py
  backend/app/schemas/department.py
  backend/app/schemas/organization.py
  backend/app/schemas/task.py
  backend/app/services/permission.py
  backend/app/services/task.py
  backend/tests/conftest.py
  backend/tests/integration/api/v1/test_organizations.py
  backend/tests/test_task_management/integration/test_task_complete_workflow.py
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_permissions.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

fix: Update AuthService edge case tests to use static method pattern
  backend/tests/unit/services/test_auth_edge_cases.py
Due: mypy

feat: Implement core user profile management frontend components
  frontend/src/components/UserProfile/UserProfileEdit.tsx
  frontend/src/components/UserProfile/UserProfileView.tsx
  frontend/src/hooks/useUserProfile.ts
  frontend/src/services/userProfileApi.ts
  frontend/src/types/user.ts
Due: typescript

Resolve all remaining merge conflicts with main branch
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/role.py
  backend/app/models/role.py.main
  backend/app/models/user.py
  backend/app/repositories/role.py
  backend/app/schemas/organization.py
  backend/app/schemas/role.py
  backend/app/schemas/user.py
  backend/app/services/role.py
  backend/tests/factories/department.py
  backend/tests/integration/api/v1/test_departments.py
  backend/tests/integration/api/v1/test_organizations.py
  backend/tests/integration/api/v1/test_roles.py
  backend/tests/integration/api/v1/test_users_extended.py
  backend/tests/unit/repositories/test_user_repository.py
Due: mypy

fix: Resolve Code Quality ruff formatting issues in PR #115
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Final ruff formatting adjustment for PR #115
  backend/tests/unit/test_models_user.py
Due: mypy

Fix TypeScript type import issues in user profile components
  frontend/src/components/UserProfile/UserProfileView.tsx
  frontend/src/hooks/useUserProfile.ts
Due: typescript

fix: Resolve Test Database Isolation Issue #109 (#117)
  backend/app/schemas/department.py
  backend/app/services/organization.py
  backend/tests/conftest.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Remove console statements in UserProfileEdit component
  frontend/src/components/UserProfile/UserProfileEdit.tsx
Due: typescript

Fix auth token edge case test issues
  backend/tests/security/test_auth_token_edge_cases.py
Due: mypy

🚀 CC03 Development Infrastructure Revolution Complete
  .github/workflows/ultra-optimized-ci.yml
  Dockerfile.multi-stage
  Makefile.optimized
  infra/compose-dev-optimized.yaml
  infra/nginx-dev.conf
  infra/postgres-dev.conf
  infra/prometheus-dev.yml
Due: none

feat: Implement Agent Sonnet Default Configuration System
  AGENT_SONNET_INSTRUCTIONS.md
  scripts/agent-config/agent-startup-template.md
  scripts/agent-config/sonnet-default.sh
  scripts/start-agent-sonnet.sh
Due: none

docs: Complete Agent Sonnet Configuration System Documentation
  docs/AGENT_SONNET_SYSTEM_DOCUMENTATION.md
Due: none

refactor: Migrate Agent Sonnet system to claude-code-cluster
  AGENT_SONNET_INSTRUCTIONS.md
  README_AGENT_SONNET.md
  docs/AGENT_SONNET_SYSTEM_DOCUMENTATION.md
  scripts/agent-config/agent-startup-template.md
  scripts/agent-config/sonnet-default.sh
  scripts/start-agent-sonnet.sh
Due: none

feat: Complete Autonomous Agent System Implementation
  AGENT_AUTONOMOUS_WORKFLOW.md
  AGENT_SELF_MANAGEMENT_COMMANDS.md
  FINAL_AGENT_INSTRUCTIONS.md
Due: none

feat: Implement Claude Code Hook-Based Auto-Loop System
  hooks/README.md
  hooks/agent-auto-loop.py
  hooks/claude-code-settings.json
  hooks/start-agent-loop.sh
Due: none

docs: Add migration notice for Universal Agent Auto-Loop Hook System
  hooks/MIGRATION_NOTICE.md
Due: none

feat: Implement Command Logging System for Claude Code Hooks
  hooks/COMMAND_LOGGING_README.md
  hooks/agent-auto-loop-with-logging.py
  hooks/command_logger.py
  hooks/view-command-logs.py
Due: none

fix: Update role.py to SQLAlchemy 2.0 Mapped types
  backend/app/models/permission.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/types.py
Due: mypy

fix: Code Quality formatting fixes
  backend/app/models/user.py
  backend/app/types.py
Due: mypy

docs: Add comprehensive backend architecture documentation
  backend/docs/ARCHITECTURE.md
Due: none

fix: Code formatting issues in role and user models
  backend/app/models/permission.py
  backend/app/models/role.py
  backend/app/models/user.py
Due: mypy
