Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Prioritize comma-separated CORS values before JSON parsing
  backend/app/core/config.py
Due: mypy

CRITICAL: Fix CORS type validation error
  backend/app/core/config.py
Due: mypy

feat: Complete Task-Department Integration with Code Quality Fixes
  backend/alembic/versions/006_add_task_department_integration.py
  backend/app/api/v1/departments.py
  backend/app/api/v1/tasks.py
  backend/app/models/department.py
  backend/app/models/task.py
  backend/app/schemas/task.py
  backend/app/services/task.py
  backend/tests/factories/department.py
  backend/tests/integration/test_task_department_integration_critical.py
Due: mypy

fix: Resolve lint errors in CORS configuration
  backend/app/core/config.py
Due: mypy

fix: Resolve alembic migration conflicts and add missing initial migration
  backend/alembic/versions/001_initial_migration.py
  backend/alembic/versions/003_update_org_dept_role_models.py
  backend/alembic/versions/004_add_permission_models.py
  backend/app/core/config.py
Due: mypy

fix: Clean up initial migration file lint errors
  backend/alembic/versions/001_initial_migration.py
Due: mypy

fix: Remove unused imports from type definitions
  backend/app/types/__init__.py
  backend/tests/factories/__init__.py
Due: mypy

fix: Resolve frontend lint errors and E2E test setup
  backend/alembic/versions/001_initial_migration.py
  frontend/tests/e2e/phase3/cross-service-workflows.spec.ts
  frontend/tests/e2e/utils/test-reporter.ts
Due: mypy, typescript

fix: Apply ruff formatting to resolve Code Quality CI check
  backend/app/api/v1/auth.py
  backend/app/api/v1/departments.py
  backend/app/api/v1/tasks.py
  backend/app/api/v1/users.py
  backend/app/core/security.py
  backend/app/models/organization.py
  backend/app/repositories/organization.py
  backend/app/repositories/role.py
  backend/app/schemas/common.py
  backend/app/schemas/department.py
  backend/app/services/auth.py
  backend/app/services/organization.py
  claude-code-cluster/README.md
  claude-code-cluster/architecture/overview.md
  claude-code-cluster/deployment/automation.md
  claude-code-cluster/docs/requirements.md
  claude-code-cluster/examples/configurations/agent-backend.env
  claude-code-cluster/examples/configurations/coordinator.env
  claude-code-cluster/examples/scripts/setup-development.sh
  claude-code-cluster/examples/tasks/backend-api-implementation.md
  claude-code-cluster/implementation/agent.md
  claude-code-cluster/implementation/coordinator.md
  claude-code-cluster/implementation/github-integration.md
  claude-code-cluster/monitoring/overview.md
Due: mypy

fix: Resolve backend test failures in Task-Department integration
  backend/app/schemas/department.py
  backend/app/schemas/organization.py
  backend/app/services/department.py
Due: mypy

fix: Complete authentication schema and import fixes
  backend/app/models/__init__.py
  backend/app/schemas/common.py
  backend/app/schemas/department.py
  backend/tests/factories/role.py
Due: mypy

fix: Correct database connection for test environment
  backend/app/core/config.py
Due: mypy

fix: Complete E2E test infrastructure and resolve all CI issues
  .github/workflows/e2e.yml
  backend/app/core/config.py
  backend/app/schemas/task.py
Due: mypy

fix: SQLAlchemy foreign key reference errors
  backend/alembic/env.py
  backend/alembic/versions/001_add_organization_tables.py
  backend/app/api/v1/permissions.py
  backend/app/api/v1/roles.py
  backend/app/models/audit.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/permission.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/schemas/common.py
  backend/app/schemas/department.py
  backend/app/services/department.py
  backend/app/services/organization.py
  backend/app/services/permission_matrix.py
  backend/app/services/role.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/role.py
  backend/tests/integration/api/v1/test_roles.py
  backend/tests/integration/test_phase2_sprint2_day3.py
  backend/tests/integration/test_role_permission_integration.py
  backend/tests/integration/test_role_service_basic.py
  backend/tests/unit/models/test_department.py
  backend/tests/unit/models/test_organization.py
  backend/tests/unit/models/test_role.py
  backend/tests/unit/services/test_organization_service.py
  backend/tests/unit/services/test_permission_matrix.py
  backend/tests/unit/services/test_role_service.py
Due: mypy

fix: Apply Ruff linting fixes for code quality
  backend/app/api/v1/permissions.py
  backend/app/models/audit.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/permission.py
  backend/app/models/project.py
  backend/app/services/department.py
  backend/app/services/organization.py
  backend/app/services/role.py
  backend/tests/conftest.py
  backend/tests/factories.py
  backend/tests/integration/api/v1/test_organizations.py
  backend/tests/security/test_multi_tenant.py
  backend/tests/unit/models/test_department.py
  backend/tests/unit/models/test_role.py
  backend/tests/unit/services/test_organization_service.py
  backend/tests/unit/services/test_role_service.py
Due: mypy

fix: Ensure unique organization codes in factory
  backend/app/api/v1/organizations.py
  backend/tests/factories/organization.py
Due: mypy

fix: Multiple CI/CD issues resolution
  backend/app/core/config.py
  backend/app/schemas/department.py
  backend/app/schemas/task.py
  backend/app/services/department.py
  backend/app/services/organization.py
  backend/tests/factories/organization.py
Due: mypy

fix: Resolve SQLAlchemy foreign key reference errors
  backend/app/models/audit.py
  backend/app/models/base.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/tests/conftest.py
Due: mypy

feat: Restore all model relationships with proper configuration
  backend/app/models/audit.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/user.py
Due: mypy

fix: Resolve remaining linting and test issues
  backend/app/api/v1/departments.py
  backend/app/api/v1/tasks.py
  backend/app/repositories/organization.py
  backend/tests/conftest.py
  backend/tests/factories/organization.py
  backend/tests/factories/user.py
  backend/tests/integration/api/v1/test_organizations.py
Due: mypy

fix: Improve CORS configuration robustness for CI environments
  backend/app/core/config.py
Due: mypy

fix: Complete backend test fixes for PR #98
  backend/tests/conftest.py
  backend/tests/integration/api/v1/test_users_extended.py
Due: mypy

fix: Resolve all Ruff linting errors and implement proper TYPE_CHECKING patterns
  backend/app/models/audit.py
  backend/app/models/base.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/permission.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/pyproject.toml
  backend/tests/conftest.py
Due: mypy

fix: Update Ruff configuration to use correct TC rule codes
  backend/pyproject.toml
Due: none

fix: Fix SQLAlchemy recursive query error in organization subsidiaries
  backend/app/api/v1/organizations.py
  backend/app/core/config.py
  backend/app/repositories/organization.py
  backend/app/services/organization.py
  backend/tests/factories/organization.py
Due: mypy

fix: Resolve Code Quality and backend-test failures
  backend/tests/conftest.py
  backend/tests/integration/api/v1/test_users_extended.py
Due: mypy

fix: Resolve SQLAlchemy model and Core Foundation Test issues
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/role.py
  backend/tests/factories/organization.py
  backend/tests/factories/role.py
  backend/tests/unit/models/test_department.py
  backend/tests/unit/models/test_role.py
Due: mypy

fix: Code Quality and Backend Test fixes for E2E infrastructure
  backend/app/api/v1/organizations.py
Due: mypy

docs: Add comprehensive project insights from Phase 3 development
  PROJECT_INSIGHTS.md
Due: none

fix: Complete Core Foundation Tests fixes for Role Service
  backend/app/models/department.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/tests/factories/department.py
  backend/tests/unit/models/test_department.py
  backend/tests/unit/models/test_role.py
Due: mypy

fix: Resolve Core Foundation Tests and Code Quality for Role Service
  backend/app/models/department.py
  backend/app/models/user.py
Due: mypy

fix: Final Core Foundation Tests and Backend Test resolution
  backend/tests/conftest.py
Due: mypy

docs: Add development summary and establish handover documentation system
  DEVELOPMENT_SUMMARY.md
  docs/handover/NAMING_CONVENTION.md
  docs/handover/PM01_20250710_01.md
Due: none

docs: Add CC02 Role Service handover documentation
  docs/handover/CC02_ROLE_SERVICE_HANDOVER_20250710.md
Due: none

docs: Add CC03 handover document for PR #95 CI/CD fixes
  docs/handover/CC03_PR95_CI_CD_FIXES_HANDOVER.md
Due: none

docs: Add CC02 Role Service handover documentation to main branch
  docs/handover/CC02_ROLE_SERVICE_HANDOVER_20250710.md
Due: none

docs: Add handover document for Task-Department integration (PR #98)
  docs/handover/CC01_HANDOVER_TASK_DEPARTMENT_INTEGRATION.md
Due: none

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
