Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat: CC02 v31.0 Phase 2 Task 2.4 - Complete CRM API implementation
  backend/app/api/v1/crm_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/crm_v31.py
  backend/app/models/__init__.py
  backend/app/models/crm_extended.py
  backend/app/schemas/crm_v31.py
  backend/tests/api/test_crm_v31.py
Due: mypy

feat: Component #41 - Divider with comprehensive separator features
  frontend/src/components/ui/Divider.test.tsx
  frontend/src/components/ui/Divider.tsx
Due: typescript

feat: Component #42 - Loading with comprehensive spinner and state management
  frontend/src/components/ui/Loading.test.tsx
  frontend/src/components/ui/Loading.tsx
Due: typescript

feat: Add pre-check workflow for auto-fixing issues
  .github/workflows/pre-check.yml
Due: none

feat: Component #43 - Empty with comprehensive state management
  frontend/src/components/ui/Empty.test.tsx
  frontend/src/components/ui/Empty.tsx
Due: typescript

feat: CC02 v31.0 Phase 2 Task 2.5 - Complete Document Management API implementation
  backend/app/api/v1/document_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/document_v31.py
  backend/app/models/__init__.py
  backend/app/models/document_extended.py
  backend/app/schemas/document_v31.py
  backend/tests/api/test_document_v31.py
Due: mypy

feat: Component #44 - Result with comprehensive status feedback
  frontend/src/components/ui/Result.test.tsx
  frontend/src/components/ui/Result.tsx
Due: typescript

feat: Component #45 - BackTop with comprehensive scroll-to-top functionality
  frontend/src/components/ui/BackTop.test.tsx
  frontend/src/components/ui/BackTop.tsx
Due: typescript

feat: add Anchor component with comprehensive navigation features
  frontend/src/components/ui/Anchor.test.tsx
  frontend/src/components/ui/Anchor.tsx
Due: typescript

feat: add Icon component with comprehensive icon management features
  frontend/src/components/ui/Icon.test.tsx
  frontend/src/components/ui/Icon.tsx
Due: typescript

feat: add Image component with comprehensive loading and optimization features
  frontend/src/components/ui/Image.test.tsx
  frontend/src/components/ui/Image.tsx
Due: typescript

feat: Complete Analytics API implementation - Task 2.7
  backend/app/api/v1/analytics_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/analytics_v31.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/schemas/analytics_v31.py
  backend/tests/api/test_analytics_v31.py
Due: mypy

feat: Complete Integration API implementation - Task 2.8
  backend/app/api/v1/integration_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/integration_v31.py
  backend/app/models/__init__.py
  backend/app/models/integration_extended.py
  backend/app/schemas/integration_v31.py
  backend/tests/api/test_integration_v31.py
Due: mypy

feat: add List component with virtualization and advanced features
  frontend/src/components/ui/List.test.tsx
  frontend/src/components/ui/List.tsx
Due: typescript

feat: add Menu component with nested navigation and keyboard support
  frontend/src/components/ui/Menu.test.tsx
  frontend/src/components/ui/Menu.tsx
Due: typescript

feat: add Navigation component with breadcrumbs and advanced routing
  frontend/src/components/ui/Navigation.test.tsx
  frontend/src/components/ui/Navigation.tsx
Due: typescript

feat: add Sidebar component with collapsible panels and advanced features
  frontend/src/components/ui/Sidebar.test.tsx
  frontend/src/components/ui/Sidebar.tsx
Due: typescript

feat: add Header component with navigation and comprehensive user actions
  frontend/src/components/ui/Header.test.tsx
  frontend/src/components/ui/Header.tsx
Due: typescript

feat: add Footer component with comprehensive footer functionality
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Footer.test.tsx
  frontend/src/components/ui/Footer.tsx
Due: typescript

feat: Component #54 - Footer with comprehensive functionality (#507)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Anchor.test.tsx
  frontend/src/components/ui/Anchor.tsx
  frontend/src/components/ui/Footer.test.tsx
  frontend/src/components/ui/Footer.tsx
  frontend/src/components/ui/Header.test.tsx
  frontend/src/components/ui/Header.tsx
  frontend/src/components/ui/Icon.test.tsx
  frontend/src/components/ui/Icon.tsx
  frontend/src/components/ui/Image.test.tsx
  frontend/src/components/ui/Image.tsx
  frontend/src/components/ui/List.test.tsx
  frontend/src/components/ui/List.tsx
  frontend/src/components/ui/Menu.test.tsx
  frontend/src/components/ui/Menu.tsx
  frontend/src/components/ui/Navigation.test.tsx
  frontend/src/components/ui/Navigation.tsx
  frontend/src/components/ui/Sidebar.test.tsx
  frontend/src/components/ui/Sidebar.tsx
Due: typescript

feat: Complete CC03 v32.0 test quality improvement infrastructure
  .github/workflows/optimized-ci.yml
  .github/workflows/scheduled-tests.yml
  CI_FAILURE_ANALYSIS.md
  backend/app/monitoring/metrics.py
  backend/backend/tests/fixtures/test_data.json
  backend/frontend/tests/fixtures/mockData.json
  backend/test-quality-dashboard.html
  backend/tests/fixtures/test_data.json
  backend/tests/integration/test_health_endpoint.py
  backend/tests/unit/test_monitoring.py
  ci_failure_patterns.txt
  ci_failures.csv
  frontend/tests/e2e/helpers/stability.ts
  scripts/monitoring/health-dashboard.html
  scripts/test-dashboard/generate-dashboard.py
  scripts/test-data/generate-test-fixtures.py
  tests/performance/load-test.py
Due: mypy, typescript

feat: add Carousel component with comprehensive slide functionality
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Carousel.test.tsx
  frontend/src/components/ui/Carousel.tsx
Due: typescript

feat: add Carousel component with comprehensive slide functionality (#508)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Carousel.test.tsx
  frontend/src/components/ui/Carousel.tsx
Due: typescript

feat: Complete CC02 v31.0 Phase 2 implementation - All 10 API modules
  backend/app/api/v1/audit_v31.py
  backend/app/api/v1/crm_v31.py
  backend/app/api/v1/notification_v31.py
  backend/app/api/v1/router.py
  backend/app/api/v1/workflow_v31.py
  backend/app/crud/audit_v31.py
  backend/app/crud/notification_v31.py
  backend/app/crud/workflow_v31.py
  backend/app/models/__init__.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/workflow_extended.py
  backend/app/schemas/audit_v31.py
  backend/app/schemas/notification_v31.py
  backend/app/schemas/workflow_v31.py
  backend/tests/api/test_audit_v31.py
  backend/tests/api/test_notification_v31.py
  backend/tests/api/test_workflow_v31.py
Due: mypy

feat: add Calendar component with comprehensive date selection functionality
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Calendar.test.tsx
  frontend/src/components/ui/Calendar.tsx
Due: typescript

feat: add Calendar component with comprehensive date selection functionality (#509)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/Calendar.test.tsx
  frontend/src/components/ui/Calendar.tsx
Due: typescript

feat: add DatePicker component with comprehensive date input functionality
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/DatePicker.test.tsx
  frontend/src/components/ui/DatePicker.tsx
Due: typescript

feat: add DatePicker component with comprehensive date input functionality (#510)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/DatePicker.test.tsx
  frontend/src/components/ui/DatePicker.tsx
Due: typescript

chore: Continuous test quality improvements [CC03 v32]
  backend/tests/unit/test_advanced_auth.py
  frontend/tests/e2e/auth/advanced-auth.spec.ts
Due: mypy, typescript

test: CC02 v33.0 Test Quality Improvement - Phase 2 Complete
  backend/app/api/v1/finance_v31.py
  backend/app/core/exceptions.py
  backend/app/crud/base.py
  backend/app/models/workflow_extended.py
  backend/app/schemas/expense_category.py
  backend/coverage.json
  backend/coverage_analysis_20250723_143234.json
  scripts/api_test_generator.py
  scripts/performance_test_framework.py
  scripts/test_coverage_analyzer.py
Due: mypy

Component 58 - TimePicker - Advanced time picker with format support
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/TimePicker.test.tsx
  frontend/src/components/ui/TimePicker.tsx
Due: typescript

Component 58 - TimePicker - Advanced time picker with format support (#512)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/TimePicker.test.tsx
  frontend/src/components/ui/TimePicker.tsx
Due: typescript

feat: CC02 v33.0 Phase 3 Complete - Continuous Improvement Cycle
  .github/workflows/cc02-v33-quality-cycle.yml
  scripts/continuous_improvement_cycle.py
Due: none

Component 59 - ColorPicker - Advanced color selection with multiple formats
  frontend/src/components/ui/ColorPicker.test.tsx
  frontend/src/components/ui/ColorPicker.tsx
Due: typescript

Component 59 - ColorPicker - Advanced color selection with multiple formats (#513)
  frontend/src/components/ui/ColorPicker.test.tsx
  frontend/src/components/ui/ColorPicker.tsx
Due: typescript

Component 60 - RichTextEditor - Advanced WYSIWYG editor with full formatting
  frontend/src/components/ui/RichTextEditor.test.tsx
  frontend/src/components/ui/RichTextEditor.tsx
Due: typescript

Component 60 - RichTextEditor - Advanced WYSIWYG editor with full formatting (#514)
  frontend/src/components/ui/RichTextEditor.test.tsx
  frontend/src/components/ui/RichTextEditor.tsx
Due: typescript

feat: Complete CC03 v32.0 Test Quality Improvement Protocol
  CC03_V32_CONTINUOUS_IMPROVEMENT_REPORT.md
Due: none

feat: implement FileUpload component with comprehensive file upload functionality
  frontend/src/components/ui/FileUpload.test.tsx
  frontend/src/components/ui/FileUpload.tsx
Due: typescript

feat: implement FileUpload component with comprehensive file upload functionality (#515)
  frontend/src/components/ui/FileUpload.test.tsx
  frontend/src/components/ui/FileUpload.tsx
Due: typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
