Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat: Component #41 - Divider with comprehensive separator features (#494)
  frontend/src/components/ui/Divider.test.tsx
  frontend/src/components/ui/Divider.tsx
Due: typescript

feat: Component #40 - Upload with comprehensive file handling (#493)
  frontend/src/components/ui/Upload.test.tsx
  frontend/src/components/ui/Upload.tsx
Due: typescript

feat: Component #39 - Tree with comprehensive hierarchical navigation (#492)
  frontend/src/components/ui/Tree.test.tsx
  frontend/src/components/ui/Tree.tsx
Due: typescript

feat: Component #38 - Stepper with comprehensive step navigation (#491)
  frontend/src/components/ui/Stepper.test.tsx
  frontend/src/components/ui/Stepper.tsx
Due: typescript

feat: Component #37 - Tag with comprehensive features (#490)
  frontend/src/components/ui/Tag.test.tsx
  frontend/src/components/ui/Tag.tsx
Due: typescript

feat: Component #36 - Dropdown with comprehensive features (#489)
  frontend/src/components/ui/Dropdown.test.tsx
  frontend/src/components/ui/Dropdown.tsx
Due: typescript

Add Component #35: Tooltip with comprehensive features (#488)
  frontend/src/components/ui/Tooltip.test.tsx
  frontend/src/components/ui/Tooltip.tsx
Due: typescript

Add Component #34: Textarea with comprehensive features (#487)
  frontend/src/components/ui/Textarea.test.tsx
  frontend/src/components/ui/Textarea.tsx
Due: typescript

Add Component #33: Radio with comprehensive features (#486)
  frontend/src/components/ui/Radio.test.tsx
  frontend/src/components/ui/Radio.tsx
Due: typescript

Add Component #32: Checkbox with comprehensive features (#485)
  frontend/src/components/ui/Checkbox.test.tsx
  frontend/src/components/ui/Checkbox.tsx
Due: typescript

Add Component #31: Badge with comprehensive features (#484)
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
Due: typescript

feat(ui): add Avatar component with comprehensive features (#483)
  frontend/src/components/ui/Avatar.test.tsx
  frontend/src/components/ui/Avatar.tsx
Due: typescript

feat(ui): add Spinner component with comprehensive features (#482)
  frontend/src/components/ui/Spinner.test.tsx
  frontend/src/components/ui/Spinner.tsx
Due: typescript

feat(ui): add Progress component with comprehensive features (#480)
  frontend/src/components/ui/Progress.test.tsx
  frontend/src/components/ui/Progress.tsx
Due: typescript

feat: implement VirtualList component (#70)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/VirtualList.test.tsx
  frontend/src/components/ui/VirtualList.tsx
Due: typescript

feat: implement VirtualList component (#70) (#525)
  CC01_incremental_log_v29.txt
  frontend/src/components/ui/VirtualList.test.tsx
  frontend/src/components/ui/VirtualList.tsx
Due: typescript

feat: CC03 v36.0 CI/CD monitoring and test infrastructure [Phase 2-3]
  backend/tests/performance/performance_framework.py
  frontend/tests/e2e/helpers/test-utils.ts
  scripts/ci-health-monitor.py
Due: mypy, typescript

chore: CI/CD improvements cycle 1 [CC03 v36]
  scripts/continuous_improvement.py
Due: none

fix: Resolve CI/CD pipeline issues [CC03 v37.0]
  .github/workflows/advanced-ci.yml
  .github/workflows/auto-review-request.yml
  .github/workflows/cache-optimizer.yml
  .github/workflows/ci-development.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/optimized-ci.yml
  .github/workflows/parallel-ci.yml
  .github/workflows/quick-ci.yml
  .github/workflows/scheduled-tests.yml
  .github/workflows/security-scan.yml
  .github/workflows/type-safety-gate.yml
  .github/workflows/typecheck.yml
  .github/workflows/ultra-optimized-ci.yml
  CI_FIX_REPORT.md
  CI_STATUS_REPORT.md
  backend/app/core/database.py
  backend/app/db/__init__.py
  backend/app/db/base_class.py
  backend/app/middleware/__init__.py
  backend/app/monitoring/__init__.py
  backend/app/monitoring/metrics.py
  backend/app/repositories/__init__.py
  backend/app/schemas/application.py
  backend/app/schemas/audit.py
  backend/app/schemas/budget.py
  backend/app/schemas/customer.py
  backend/app/schemas/expense.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/user_preferences.py
  backend/app/services/budget_service.py
  backend/tests/performance/performance_framework.py
  frontend/package.json
  scripts/fix-ci-issues.sh
Due: mypy

feat: CC03 v37.0 Complete Infrastructure Automation [FINAL]
  k8s/production/api-gateway.yaml
  k8s/production/complete-stack.yaml
  k8s/production/observability-stack.yaml
  scripts/continuous_infrastructure_optimization.py
  scripts/performance_optimizer.py
  scripts/security_automation.py
Due: none

feat: CC03 v37.0 FINAL - Complete Autonomous Operations [PROTOCOL COMPLETE]
  CC03_V37_FINAL_REPORT.md
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  PERFORMANCE_REPORT.md
  SECURITY_REPORT.md
  infrastructure_metrics.json
  k8s/production/advanced-hpa.yaml
Due: none

[FINAL] Task 1.10: 倉庫管理API - CC02 v30.0 Phase 1 Complete (#481)
  backend/alembic/versions/001_create_users_simple.py
  backend/alembic/versions/002_create_organizations_simple.py
  backend/alembic/versions/003_create_products_simple.py
  backend/app/api/v1/health_simple.py
  backend/app/api/v1/inventory_basic.py
  backend/app/api/v1/products_simple.py
  backend/app/api/v1/users_simple.py
  backend/app/api/v1/warehouse_v30.py
  backend/app/crud/inventory_basic.py
  backend/app/crud/organization_basic.py
  backend/app/crud/product_basic.py
  backend/app/crud/sales_basic.py
  backend/app/crud/user_basic.py
  backend/app/crud/warehouse_v30.py
  backend/app/models/inventory.py
  backend/app/models/organization.py
  backend/app/models/product.py
  backend/app/models/sales.py
  backend/app/models/task.py
  backend/app/models/warehouse_extended.py
  backend/app/schemas/inventory_basic.py
  backend/app/schemas/organization_basic.py
  backend/app/schemas/product_basic.py
  backend/app/schemas/warehouse_v30.py
  backend/app/services/permission_inheritance.py
  backend/pyproject.toml
  backend/tests/api/test_users_simple.py
  backend/tests/api/test_warehouse_v30.py
  backend/uv.lock
Due: mypy

feat(ui): add Slider/Range component with comprehensive features (#478)
  frontend/src/components/ui/Slider.test.tsx
  frontend/src/components/ui/Slider.tsx
Due: typescript

Component #26: Switch/Toggle with comprehensive features (#477)
  frontend/src/components/ui/Select.test.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/Switch.test.tsx
  frontend/src/components/ui/Switch.tsx
Due: typescript

fix: Resolve conflicts and improve quality - PR #475
  backend/app/models/task.py
  backend/app/services/permission_inheritance.py
Due: mypy

fix: Resolve conflicts and improve quality - PR #475
  backend/docs/cc02_v39_progress/progress_1753308855.json
  backend/tests/unit/integration/test_services_user_create_user.py
  backend/tests/unit/unit/test_api_v1_auth_login.py
  backend/tests/unit/unit/test_models_product_calculate_price.py
Due: mypy

fix: Resolve conflicts and improve quality - PR #475
  backend/app/api/v1/router.py
  backend/app/models/organization.py
  backend/app/models/organization.py.backup
  backend/app/schemas/budget.py
  backend/tests/unit/integration/test_services_user_create_user.py
  backend/tests/unit/unit/test_api_v1_auth_login.py
  backend/tests/unit/unit/test_models_product_calculate_price.py
  backend/uv.lock
Due: mypy

fix: Resolve conflicts and improve quality - PR #475
  backend/app/api/v1/router.py
  backend/app/crud/notification_v31.py
  backend/app/crud/workflow_v31.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/integration_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/task.py
  backend/app/models/workflow_extended.py
  backend/app/services/permission_inheritance.py
  backend/docs/cc02_v39_progress/progress_1753310620.json
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/router.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/integration_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/task.py
  backend/app/models/workflow_extended.py
  backend/app/services/permission_inheritance.py
Due: mypy

fix: Resolve conflicts and improve quality - PR #475
  backend/alembic/versions/1753312490_high_priority_database_indexes.py
  backend/app/api/v1/router.py
  backend/app/models/__init__.py
  backend/app/models/analytics_extended.py
  backend/app/models/audit_extended.py
  backend/app/models/crm_extended.py
  backend/app/models/document_extended.py
  backend/app/models/finance_extended.py
  backend/app/models/hr_extended.py
  backend/app/models/integration_extended.py
  backend/app/models/notification_extended.py
  backend/app/models/project_extended.py
  backend/app/models/task.py
  backend/app/models/workflow_extended.py
  backend/app/services/permission_inheritance.py
  backend/docs/cc02_v39_progress/progress_1753312000.json
Due: mypy

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
