Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Automated CI/CD repairs #99 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infra/Dockerfile.backend.prod
  infra/Dockerfile.frontend.prod
  infra/compose-prod.yaml
  infra/nginx/nginx-frontend-prod.conf
  infrastructure_metrics.json
Due: none

🔌 FEAT: CC01 v50.0 Phase 1 - Product & Inventory API Integration
  frontend/src/hooks/useInventory.ts
  frontend/src/hooks/useProducts.ts
  frontend/src/pages/inventory/InventoryListPage.tsx
  frontend/src/pages/products/ProductListPage.tsx
  frontend/src/services/api/client.ts
  frontend/src/services/api/inventory.ts
  frontend/src/services/api/products.ts
  frontend/src/services/api/sales.ts
Due: typescript

feat: Complete Issue #565 Production Infrastructure Implementation
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #102 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

🔌 feat: CC01 v50.0 Phase 1 - Product & Inventory API Integration (#567)
  frontend/src/hooks/useInventory.ts
  frontend/src/hooks/useProducts.ts
  frontend/src/pages/inventory/InventoryListPage.tsx
  frontend/src/pages/products/ProductListPage.tsx
  frontend/src/services/api/client.ts
  frontend/src/services/api/inventory.ts
  frontend/src/services/api/products.ts
  frontend/src/services/api/sales.ts
Due: typescript

fix: Automated CI/CD repairs #103 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #104 [CC03 v36]
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

fix: Automated CI/CD repairs #106 [CC03 v36]
  .github/workflows/auto-review-request.yml.disabled
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

💰 FEAT: CC01 v50.0 Phase 2 - Sales & Financial API Integration
  frontend/src/hooks/useFinancial.ts
  frontend/src/hooks/useSales.ts
  frontend/src/pages/accounting/AccountingDashboardPage.tsx
  frontend/src/pages/accounting/InvoiceManagementPage.tsx
  frontend/src/services/api/financial.ts
  frontend/src/services/api/sales.ts
Due: typescript

fix: Automated CI/CD repairs #107 [CC03 v36]
  .github/workflows/deploy-production.yml
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
Due: none

feat: CC03 v58.0 Day 1 - Production CI/CD Pipeline Foundation
  .github/workflows/infrastructure-test.yml
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
  scripts/monitoring/availability-monitor.sh
Due: none

feat: CC02 v53.0 Day 1 - ERPビジネスAPI基盤実装完了 (Issue #568)
  backend/app/api/v1/products_business.py
  backend/app/api/v1/router.py
  backend/app/core/exceptions.py
  backend/app/schemas/finance_v31.py
  backend/app/schemas/product_business.py
  backend/tests/unit/test_products_api.py
  backend/tests/unit/test_products_business_direct.py
Due: mypy

🧪 FEAT: CC01 v50.0 Phase 3 - Complete E2E Testing & Production Deployment
  frontend/e2e/playwright.config.ts
  frontend/e2e/tests/financial-reporting.spec.ts
  frontend/e2e/tests/product-management.spec.ts
  frontend/e2e/tests/sales-workflow.spec.ts
Due: typescript

feat: CC03 v58.0 Day 2-3 - Infrastructure Automation & Monitoring Stack
  INFRASTRUCTURE_REPORT.md
  infra/monitoring/alert-rules-availability.yml
  infra/monitoring/grafana-availability-dashboard.json
  infra/monitoring/prometheus-production.yml
  infra/terraform/main.tf
  infra/terraform/modules/vpc/main.tf
  infrastructure_metrics.json
  scripts/deploy-zero-downtime.sh
  scripts/monitoring/backup-automation.sh
Due: none

feat: CC02 v53.0 Day 1-2 COMPLETE - 商品管理API統合テスト実装 (Issue #568)
  backend/tests/integration/test_products_minimal_integration.py
Due: mypy

fix: Automated CI/CD repairs #109 [CC03 v36]
  .github/workflows/security-gate-advanced.yml
Due: none

TDD Phase 1: CC02 v53.0 Products API Test Suite - Issue #568
  backend/app/api/v1/endpoints/inventory_core.py
  backend/app/api/v1/endpoints/products.py
  backend/app/api/v1/endpoints/sales_core.py
  backend/app/main_super_minimal.py
  backend/docs/cc02_v39_progress/progress_1753396008.json
  backend/docs/cc02_v39_progress/progress_1753397209.json
  backend/docs/cc02_v39_progress/progress_1753398409.json
  backend/docs/cc02_v39_progress/progress_1753399609.json
  backend/docs/cc02_v39_progress/progress_1753400809.json
  backend/docs/cc02_v39_progress/progress_1753402009.json
  backend/docs/cc02_v39_progress/progress_1753403209.json
  backend/docs/cc02_v39_progress/progress_1753404409.json
  backend/docs/cc02_v39_progress/progress_1753405610.json
  backend/docs/cc02_v39_progress/progress_1753406809.json
  backend/docs/cc02_v39_progress/progress_1753408009.json
  backend/docs/cc02_v39_progress/progress_1753409210.json
  backend/docs/cc02_v39_progress/progress_1753410410.json
  backend/docs/cc02_v39_progress/progress_1753411612.json
  backend/docs/cc02_v39_progress/progress_1753412799.json
  backend/tests/integration/test_products_business_integration.py
  backend/tests/unit/test_products_api.py
  backend/tests/unit/test_products_api_simple.py
Due: mypy

feat: CC03 v58.0 Day 4-5 - Security & Performance Implementation
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  infrastructure_metrics.json
  scripts/monitoring/performance-optimizer.sh
  scripts/monitoring/security-hardening.sh
Due: none

docs: CC03 v58.0 Final Completion Report
  CC03_V58_COMPLETION_REPORT.md
Due: none

🚀 feat: CC01 v50.0 Complete - Full-Stack API Integration + E2E Testing + Production Deployment (#570)
  frontend/e2e/playwright.config.ts
  frontend/e2e/tests/financial-reporting.spec.ts
  frontend/e2e/tests/product-management.spec.ts
  frontend/e2e/tests/sales-workflow.spec.ts
  frontend/src/hooks/useFinancial.ts
  frontend/src/hooks/useSales.ts
  frontend/src/pages/accounting/AccountingDashboardPage.tsx
  frontend/src/pages/accounting/InvoiceManagementPage.tsx
  frontend/src/services/api/financial.ts
  frontend/src/services/api/sales.ts
Due: typescript

feat: CC03 v59.0 Complete Production Infrastructure Implementation
  CI_HEALTH_REPORT.md
  INFRASTRUCTURE_REPORT.md
  docs/operations/README.md
  infra/.env.production
  infra/docker-compose.production.yml
  infra/monitoring/alert-rules.yml
  infra/monitoring/alertmanager.yml
  infra/monitoring/grafana/dashboards/dashboard.yml
  infra/monitoring/grafana/datasources/prometheus.yml
  infra/monitoring/prometheus.yml
  infra/nginx/nginx.conf
  infra/scripts/backup.sh
  infra/scripts/deploy.sh
  infra/scripts/security-setup.sh
  infrastructure_metrics.json
Due: none

feat: CC03 v60.0 - Clean Production Infrastructure Implementation
  infra-clean/README.md
  infra-clean/compose/.env.production
  infra-clean/compose/docker-compose.production.yml
  infra-clean/monitoring/alertmanager.yml
  infra-clean/monitoring/grafana/provisioning/dashboards/dashboard.yml
  infra-clean/monitoring/grafana/provisioning/datasources/prometheus.yml
  infra-clean/monitoring/prometheus.yml
  infra-clean/monitoring/rules.yml
  infra-clean/nginx/nginx.conf
  infra-clean/scripts/backup.sh
  infra-clean/scripts/deploy.sh
  infra-clean/security/postgres.conf
  infra-clean/security/redis.conf
  infra-clean/security/setup-ssl.sh
Due: none

feat: Complete CC02 v53.0 Issue #568 - 10-Day ERP Business API Sprint
  backend/app/api/v1/endpoints/crm_v53.py
  backend/app/api/v1/endpoints/inventory_v53.py
  backend/app/api/v1/endpoints/products_v53.py
  backend/app/api/v1/endpoints/reports_analytics_v53.py
  backend/app/api/v1/endpoints/sales_v53.py
  backend/app/main_super_minimal.py
  backend/app/schemas/crm_v53.py
  backend/app/schemas/inventory_v53.py
  backend/app/schemas/product_v53.py
  backend/app/schemas/reports_analytics_v53.py
  backend/app/schemas/sales_v53.py
  backend/tests/unit/test_crm_api.py
  backend/tests/unit/test_inventory_api.py
  backend/tests/unit/test_products_api.py
  backend/tests/unit/test_reports_analytics_api.py
  backend/tests/unit/test_sales_api.py
Due: mypy

feat: Organization CRUD (#411)
  backend/app/crud/organization_v20.py
Due: mypy

feat: Add organization list page (#409)
  frontend/src/pages/organizations/OrganizationList.tsx
Due: typescript

feat: CC03 v61.0 - 45日間安定インフラプロジェクト開始
  CC03_V61_COMMIT_LOG.md
  CC03_V61_SIMPLE_DESIGN_PLAN.md
  stable-infra/.env.example
  stable-infra/README.md
  stable-infra/backup.sh
  stable-infra/deploy.sh
  stable-infra/docker-compose.yml
  stable-infra/monitor.sh
  stable-infra/nginx.conf
  stable-infra/prometheus.yml
Due: none

feat(cc03-v62): Day 1 - Docker Compose本番構成完成
  cc03-v62-infra/.env.production
  cc03-v62-infra/DAY1_STATUS_REPORT.md
  cc03-v62-infra/README.md
  cc03-v62-infra/config/alert-rules.yml
  cc03-v62-infra/config/alertmanager.yml
  cc03-v62-infra/config/grafana/provisioning/dashboards/dashboard.yml
  cc03-v62-infra/config/grafana/provisioning/datasources/prometheus.yml
  cc03-v62-infra/config/nginx.conf
  cc03-v62-infra/config/postgres.conf
  cc03-v62-infra/config/prometheus.yml
  cc03-v62-infra/docker-compose.production.yml
  cc03-v62-infra/scripts/backup-cron.sh
  cc03-v62-infra/scripts/quick-deploy.sh
Due: none

🎯 CC03 v62.0 - 7日間集中インフラスプリント完成
  cc03-v62-infra/CC03_V62_7DAY_SPRINT_COMPLETION_REPORT.md
  cc03-v62-infra/DAY5_PERFORMANCE_OPTIMIZATION.md
  cc03-v62-infra/config/alertmanager.yml
  cc03-v62-infra/docker-compose.production.yml
Due: none

feat: CC03 v63.0 Day 1 - Docker Compose本番構成 & Nginx/SSL設定完成
  cc03-v62-infra/.env.v63-production
  cc03-v62-infra/config/nginx-v63.conf
  cc03-v62-infra/docker-compose.v63-production.yml
  cc03-v62-infra/scripts/generate-ssl-certs-v63.sh
  cc03-v62-infra/scripts/zero-downtime-deploy-v63.sh
Due: none

feat: CC03 v63.0 Day 2 - 監視システム強化 & 高度バックアップ実装
  cc03-v62-infra/config/alert-rules-v63.yml
  cc03-v62-infra/config/grafana-v63/provisioning/dashboards/dashboards.yml
  cc03-v62-infra/config/grafana-v63/provisioning/datasources/prometheus.yml
  cc03-v62-infra/config/prometheus-v63.yml
  cc03-v62-infra/scripts/backup-v63.sh
Due: none

feat: CC03 v63.0 Day 3 - セキュリティ強化 & 統合テスト完成
  cc03-v62-infra/CC03_V63_3DAY_COMPLETION_REPORT.md
  cc03-v62-infra/scripts/integration-test-v63.sh
  cc03-v62-infra/scripts/security-hardening-v63.sh
Due: none

feat: CC03 v64.0 Blue-Green Deployment Implementation - Option A
  CC03_V59_COMPLETION_SUMMARY.md
  infra/blue-green-quick-start.md
  infra/deploy-blue-green-v64.sh
  infra/deploy-prod.sh
  infra/test-blue-green-v64.sh
Due: none

feat: Advanced Inventory Management API v57.0 with ACID transactions
  backend/app/api/v1/inventory_advanced_v57.py
  backend/docs/cc02_v39_progress/progress_1753448786.json
  backend/tests/unit/api/test_inventory_advanced_v57.py
Due: mypy

feat: CC02 v57.0 Advanced Inventory Management - ACID Transactions & Smart Alerts (#592)
  backend/app/api/v1/inventory_advanced_v57.py
  backend/docs/cc02_v39_progress/progress_1753448786.json
  backend/tests/unit/api/test_inventory_advanced_v57.py
Due: mypy

CC03 v64.0: Blue-Green Deployment - Zero-Downtime Production System (#589)
  CC03_V59_COMPLETION_SUMMARY.md
  cc03-v62-infra/.env.production
  cc03-v62-infra/.env.v63-production
  cc03-v62-infra/CC03_V62_7DAY_SPRINT_COMPLETION_REPORT.md
  cc03-v62-infra/CC03_V63_3DAY_COMPLETION_REPORT.md
  cc03-v62-infra/DAY1_STATUS_REPORT.md
  cc03-v62-infra/DAY5_PERFORMANCE_OPTIMIZATION.md
  cc03-v62-infra/README.md
  cc03-v62-infra/config/alert-rules-v63.yml
  cc03-v62-infra/config/alert-rules.yml
  cc03-v62-infra/config/alertmanager.yml
  cc03-v62-infra/config/grafana-v63/provisioning/dashboards/dashboards.yml
  cc03-v62-infra/config/grafana-v63/provisioning/datasources/prometheus.yml
  cc03-v62-infra/config/grafana/provisioning/dashboards/dashboard.yml
  cc03-v62-infra/config/grafana/provisioning/datasources/prometheus.yml
  cc03-v62-infra/config/nginx-v63.conf
  cc03-v62-infra/config/nginx.conf
  cc03-v62-infra/config/postgres.conf
  cc03-v62-infra/config/prometheus-v63.yml
  cc03-v62-infra/config/prometheus.yml
  cc03-v62-infra/docker-compose.production.yml
  cc03-v62-infra/docker-compose.v63-production.yml
  cc03-v62-infra/scripts/backup-cron.sh
  cc03-v62-infra/scripts/backup-v63.sh
  cc03-v62-infra/scripts/generate-ssl-certs-v63.sh
  cc03-v62-infra/scripts/integration-test-v63.sh
  cc03-v62-infra/scripts/quick-deploy.sh
  cc03-v62-infra/scripts/security-hardening-v63.sh
  cc03-v62-infra/scripts/zero-downtime-deploy-v63.sh
  infra/blue-green-quick-start.md
  infra/deploy-blue-green-v64.sh
  infra/deploy-prod.sh
  infra/test-blue-green-v64.sh
Due: none

feat: Advanced Customer Management API v58.0 with CRM, RFM & LTV
  backend/app/api/v1/customer_advanced_v58.py
  backend/tests/unit/api/test_customer_advanced_v58.py
Due: mypy

feat: CC03 v65.0 統合監視ダッシュボードシステム実装
  monitoring/README-v65.md
  monitoring/alertmanager-v65.yml
  monitoring/alerts/alert-rules-v65.yml
  monitoring/blackbox-v65.yml
  monitoring/dashboards/application-performance-v65.json
  monitoring/dashboards/database-monitoring-v65.json
  monitoring/dashboards/itdo-erp-overview-v65.json
  monitoring/deploy-monitoring-v65.sh
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
