Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/app/data_platform/enterprise_data_lake_warehouse.py
  backend/app/data_platform/realtime_streaming_events.py
  backend/app/deployment/auto_disaster_recovery.py
  backend/app/deployment/cicd_pipeline_orchestration.py
  backend/app/deployment/infrastructure_auto_management.py
  backend/app/deployment/operations_monitoring_alerts.py
  backend/app/mobile/enterprise_integration_gateway.py
  backend/app/mobile/enterprise_reporting_analytics.py
  backend/app/mobile/mobile_device_management.py
  backend/app/performance/auto_performance_correction.py
  backend/app/sdk/mobile_sdk_sync.py
  frontend/src/performance/frontend_performance_optimization.tsx
Due: mypy, typescript

Day 1: Project Management Foundation - useProjects Hook Implementation (#625)
  frontend/src/hooks/__tests__/useProjects.test.ts
  frontend/src/hooks/useProjects.ts
Due: typescript

SDAD 仕様駆動AI開発 文書共有
  docs/SDAD/【実践ガイド】仕様駆動AI開発（SDAD）ワークフロー v2.5 完全版.md
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: none

fix: Address code review feedback for PR #18
  CC01_RESTART_INSTRUCTIONS.md
  CC02_RESTART_INSTRUCTIONS.md
  CC03_CRITICAL_RESTART_INSTRUCTIONS.md
  COMMAND_LOGGING_SETUP_GUIDE.md
  IMMEDIATE_ACTION_SUMMARY.md
  PROACTIVE_DEVELOPMENT_STRATEGY.md
  scripts/integrated-test-logging-loop.sh
  scripts/quick-test-command-logging.sh
  scripts/setup-command-logging-test.sh
Due: none

fix: Correct Mermaid graph syntax in SDAD documentation
  docs/SDAD/【実践ガイド】仕様駆動AI開発（SDAD）ワークフロー v2.5 完全版.md
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: none

feat: Integrate SDAD methodology with Claude Code Cluster
  .githooks/pre-commit
  .github/workflows/sdad-phase-gate.yml
  Makefile
  docs/architecture/SDAD_CLAUDE_CODE_CLUSTER_INTEGRATION.md
  docs/claude-code-cluster/IMPLEMENTATION_GUIDE.md
  docs/claude-code-cluster/cc01-frontend-agent-prompt.md
  docs/claude-code-cluster/cc02-backend-agent-prompt.md
  docs/claude-code-cluster/cc03-infrastructure-agent-prompt.md
  docs/claude-code-cluster/coordinator-agent-prompt.md
  scripts/management/README.md
  scripts/sdad-phase-manager.sh
Due: none

fix: Add execution permissions to scripts
  .githooks/pre-commit
  scripts/sdad-phase-manager.sh
Due: none

docs: Create Phase 0 feature brief for Products module
  docs/products/feature_brief_v1.0.md
Due: none

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/distributed_cache.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/app/core/distributed_cache.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
  frontend/src/hooks/__tests__/useProjects.test.ts
  frontend/src/hooks/useProjects.ts
  frontend/src/test/cloud-deployment-v65.test.tsx
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
  frontend/src/hooks/__tests__/useProjects.test.ts
  frontend/src/hooks/useProjects.ts
  frontend/src/test/cloud-deployment-v65.test.tsx
Due: mypy, typescript

fix: SDAD文書のMermaidグラフ表示修正 (#639)
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
  docs/SDAD/【実践ガイド】仕様駆動AI開発（SDAD）ワークフロー v2.5 完全版.md
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
  frontend/src/hooks/__tests__/useProjects.test.ts
  frontend/src/hooks/useProjects.ts
  frontend/src/test/cloud-deployment-v65.test.tsx
Due: mypy, typescript

fix: Resolve Mermaid diagram rendering issue in SDAD migration strategy
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: none

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/sales_order_management_v68.py
Due: mypy

fix: SDAD移行戦略のMermaidグラフレンダリング問題を修正 (#642)
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/sales_order_management_v68.py
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: mypy

fix: Remove parentheses from Mermaid node label to fix GitHub rendering
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: none

fix: Remove parentheses from Mermaid node label to fix GitHub rendering (#643)
  docs/SDAD/【実践ガイド】既存プロジェクトのSDAD移行戦略.md
Due: none

feat: Implement SDAD integration with claude-code-cluster
  .githooks/pre-commit
  .github/workflows/sdad-phase-gate.yml
  Makefile
  docs/architecture/SDAD_CLAUDE_CODE_CLUSTER_INTEGRATION.md
  scripts/sdad-phase-manager.sh
Due: none

fix: Address PR review comments for SDAD integration
  .githooks/pre-commit
  .github/workflows/sdad-phase-gate.yml
  scripts/sdad-phase-manager.sh
Due: none

feat: SDAD統合実装 - claude-code-clusterとの連携 (#641)
  .githooks/pre-commit
  .github/workflows/sdad-phase-gate.yml
  Makefile
  docs/architecture/SDAD_CLAUDE_CODE_CLUSTER_INTEGRATION.md
  scripts/sdad-phase-manager.sh
Due: none

docs: Add authentication feature brief for Phase 0
  docs/features/authentication/feature_brief.md
Due: none

feat: Add Phase 1 Discovery artifacts for authentication system
  docs/SDAD/phase1-manual-execution-analysis.md
  docs/features/authentication/acceptance_criteria.md
  features/authentication.feature
Due: none

Update docs/features/authentication/feature_brief.md
  docs/features/authentication/feature_brief.md
Due: none

docs: Add CI/CD pipeline audit report
  docs/technical/ci-cd-audit-report-2025-07-26.md
Due: none

fix: Address Phase 1 review feedback
  docs/SDAD/phase1-manual-execution-analysis.md
  docs/features/authentication/acceptance_criteria.md
Due: none

feat: Add Phase 2 Documentation for authentication system
  docs/SDAD/sdad-process-improvements.md
  docs/features/authentication/api_spec.yaml
  docs/features/authentication/data_model.md
  docs/features/authentication/deployment.md
  docs/features/authentication/ui_design.md
Due: none

fix: Update login history retention period to 1 year
  docs/features/authentication/acceptance_criteria.md
  docs/features/authentication/data_model.md
  docs/features/authentication/deployment.md
Due: none

test: Add Phase 3 validation tests for authentication system
  backend/tests/api/v1/test_auth.py
  backend/tests/api/v1/test_sessions.py
  backend/tests/api/v1/test_users.py
  backend/tests/conftest.py
  docs/SDAD/phase3-manual-execution-analysis.md
  frontend/src/components/auth/__tests__/LoginForm.test.tsx
  frontend/src/components/auth/__tests__/MFAForm.test.tsx
  frontend/src/components/user/__tests__/SessionSettings.test.tsx
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/tests/api/v1/test_auth.py
  backend/tests/api/v1/test_sessions.py
  backend/tests/api/v1/test_users.py
  backend/tests/conftest.py
  frontend/src/components/auth/__tests__/LoginForm.test.tsx
  frontend/src/components/auth/__tests__/MFAForm.test.tsx
  frontend/src/components/user/__tests__/SessionSettings.test.tsx
Due: mypy, typescript

feat: Phase 4 - Begin authentication implementation
  backend/app/api/v1/auth.py
  backend/app/core/security.py
  backend/app/models/__init__.py
  backend/app/models/mfa.py
  backend/app/models/organization.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/repositories/department.py
  backend/app/schemas/auth.py
  backend/app/schemas/mfa.py
  backend/app/schemas/session.py
  backend/app/services/auth.py
  backend/app/services/auth_old.py
  backend/app/services/mfa_service.py
  docs/SDAD/phase4-implementation-plan.md
Due: mypy

feat: Phase 4 - Steps 1-4 Complete (Data Models, Auth API, User Management, Session Management)
  backend/app/api/v1/sessions.py
  backend/app/api/v1/users_auth.py
  backend/app/core/dependencies.py
  backend/app/models/session.py
  backend/app/models/user.py
  backend/app/repositories/department.py
  backend/app/schemas/session.py
  backend/app/schemas/user_auth.py
  backend/app/services/auth.py
  backend/app/services/session_service.py
  backend/app/services/user_service.py
  backend/pyproject.toml
  backend/test_auth_api_direct.py
  backend/test_auth_minimal.py
  backend/test_auth_simple.py
  backend/test_session_management.py
  backend/test_user_api.py
  backend/test_user_api_isolated.py
  backend/tests/api/v1/test_auth_phase4.py
  backend/tests/test_simple_auth.py
  backend/uv.lock
Due: mypy

feat: Phase 4 - Steps 5-6 Complete (Google SSO & Complete MFA)
  backend/app/api/v1/auth_google.py
  backend/app/api/v1/mfa.py
  backend/app/core/config.py
  backend/app/models/user.py
  backend/app/schemas/google_auth.py
  backend/app/schemas/mfa.py
  backend/app/services/google_auth_service.py
  backend/app/services/mfa_service.py
  backend/pyproject.toml
  backend/test_google_sso.py
  backend/test_google_sso_simple.py
  backend/test_mfa_complete.py
  backend/uv.lock
Due: mypy
