Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Validate permission codes in role permissions update
  backend/app/services/role.py
Due: mypy

fix: Add permission code validation to role permissions update
  backend/app/services/role.py
Due: mypy

fix: Privacy settings tests and Pydantic V2 compatibility
  backend/app/services/user_privacy.py
  backend/tests/unit/services/test_user_privacy_settings.py
Due: mypy

fix: Resolve critical type checking issues for PR #98
  backend/app/models/role.py
  backend/app/schemas/audit.py
  backend/app/schemas/cross_tenant_permissions.py
  backend/app/schemas/multi_tenant.py
  backend/app/schemas/user_preferences.py
Due: mypy

fix: Remove unused typing.Any import for PR #98 completion
  backend/app/schemas/user_preferences.py
Due: mypy

style: Apply ruff formatting to test_user_privacy_settings.py
  backend/tests/unit/services/test_user_privacy_settings.py
Due: mypy

fix: Resolve CI/CD failures for PR #124 Auth Edge Case Tests
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/app/services/organization.py
  backend/tests/conftest.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/services/test_auth_service_edge_cases.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Resolve multiple timezone comparison and test database isolation issues
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/tests/conftest.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Resolve timezone comparison and test database isolation issues for PM automation
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/tests/conftest.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Resolve critical test failure in role permission UI API
  backend/app/api/v1/router.py
  backend/tests/integration/api/v1/test_user_preferences_api.py
  backend/tests/integration/api/v1/test_user_privacy_api.py
  backend/tests/integration/test_role_permission_ui_api.py
Due: mypy

fix: Resolve 55 ruff linting errors in feature/role-service branch
  backend/app/api/v1/router.py
  backend/app/api/v1/user_profile.py
  backend/app/schemas/user_profile.py
  backend/app/services/user.py
  backend/tests/integration/api/v1/test_organizations.py
  backend/tests/unit/models/test_organization.py
  backend/tests/unit/services/test_user_profile_service.py
Due: mypy

fix: Resolve all mypy strict type checking errors
  backend/app/api/v1/auth.py
  backend/app/api/v1/organizations.py
  backend/app/api/v1/users.py
  backend/app/core/database.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/schemas/organization.py
  backend/app/services/audit.py
  backend/app/services/department.py
  backend/app/services/organization.py
Due: mypy

feat: Implement Claude Code usage optimization
  .claudeignore
  .gitignore
  CLAUDE_USAGE_ANALYSIS.md
  README.md
  backend/.gitignore
  claude-code-cluster/COMPREHENSIVE_MULTI_AGENT_INSIGHTS.md
  claude-code-cluster/ISSUE_MULTI_AGENT_INSIGHTS.md
  claude-code-cluster/ISSUE_QUANTUM_TASK_ASSIGNMENT.md
  claude-code-cluster/multi-agent-insights.md
  docs/CLAUDE_CODE_OPTIMIZATION_GUIDE.md
  scripts/claude-usage-monitor.sh
Due: none

fix: Resolve frontend test and security scan failures
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
Due: typescript

🔧 Fix test database isolation issues
  backend/tests/conftest.py
Due: mypy

📝 Update claude-code-usage-guide.md with latest learnings
  docs/claude-code-usage-guide.md
Due: none

🔧 Fix auth_headers fixture usage in role permission UI tests
  backend/tests/integration/test_role_permission_ui_api.py
Due: mypy

🔧 Fix code quality: Line length issues and formatting
  backend/tests/conftest.py
  backend/tests/integration/api/v1/test_user_preferences_api.py
  backend/tests/integration/api/v1/test_user_privacy_api.py
  backend/tests/integration/test_role_permission_ui_api.py
Due: mypy

fix: Resolve E2E testing infrastructure failures
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/basic/smoke.spec.ts
Due: typescript

fix: Resolve timezone errors and Department model schema issues
  backend/app/models/department.py
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/tests/factories/department.py
Due: mypy

fix: Resolve timezone comparison errors for Core Foundation Tests
  backend/app/models/user.py
  backend/app/models/user_session.py
Due: mypy

fix: Handle different error response formats in user creation test
  backend/tests/integration/test_users_api.py
Due: mypy

Add specialized agent session instructions for CC01, CC02, CC03
  CC01_PROACTIVE_INSTRUCTIONS.md
  CC02_EMERGENCY_RESTART_INSTRUCTIONS.md
  CC03_SESSION_RESTART_INSTRUCTIONS.md
Due: none

fix: Add phone and profile_image_url fields to UserBase schema
  backend/app/schemas/user.py
Due: mypy

🚨 EMERGENCY FIX: Resolve Core Foundation Tests timezone failures
  backend/app/repositories/user.py
  backend/tests/unit/repositories/test_user_repository.py
Due: mypy

Fix failing tests in PR #98 for Historic 96.2% → 100% Success Achievement
  backend/tests/integration/test_users_api.py
Due: mypy

Add enhanced agent restart instructions and stability framework
  AGENT_STABILITY_FRAMEWORK.md
  CC01_UPDATED_PROACTIVE_INSTRUCTIONS.md
  CC02_SECOND_RESTART_INSTRUCTIONS.md
  CC03_SECOND_RESTART_INSTRUCTIONS.md
Due: none

fix: Add timezone-aware comparison fix for test_update_user
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Critical test infrastructure improvements for Issue #138
  backend/app/core/dependencies.py
  backend/tests/conftest.py
  backend/tests/integration/test_users_api.py
Due: mypy

fix: Minor whitespace formatting issue
  backend/tests/integration/test_users_api.py
Due: mypy

fix: Correct role scope validation for multi-tenant user relationships
  backend/app/models/role.py
Due: mypy

Add ultra-simplified agent instructions and minimal session template
  CC01_CURRENT_STATUS_INSTRUCTION.md
  CC02_ULTRA_SIMPLE_RESTART.md
  CC03_STATUS_CHECK_INSTRUCTION.md
  MINIMAL_SESSION_TEMPLATE.md
Due: none

debug: Add comprehensive user lookup debugging
  backend/app/core/dependencies.py
  backend/debug_test.py
  backend/debug_user_lookup.py
  backend/tests/conftest.py
  backend/tests/integration/test_users_api.py
Due: mypy

Add remaining agent instruction files
  .claudeignore
  AGENT_SPECIALIZED_SESSION_GUIDE.md
  CC02_SESSION_MIGRATION_INSTRUCTIONS.md
  CC03_SESSION_MIGRATION_INSTRUCTIONS.md
  IMMEDIATE_OPTIMIZATION_ACTION_PLAN.md
  OPTIMIZATION_CLARIFICATION_GUIDE.md
Due: none

fix: Resolve test database isolation and authentication issues
  backend/tests/conftest.py
  backend/tests/integration/test_users_api.py
Due: mypy

fix: Handle settings field correctly in OrganizationFactory for API vs DB operations
  backend/tests/factories/__init__.py
  backend/tests/factories/organization.py
Due: mypy

cleanup: Remove debug files causing linting errors
  backend/debug_test.py
  backend/debug_user_lookup.py
Due: mypy

fix: Apply Ruff linting auto-fixes for PR #117
  backend/tests/conftest.py
  backend/tests/integration/test_users_api.py
  backend/tests/unit/test_models_user.py
Due: mypy

Add Usage Policy compliance analysis and safe restart guide
  POLICY_COMPLIANCE_ANALYSIS.md
  POLICY_SAFE_RESTART_GUIDE.md
Due: none

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
