Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

fix: Resolve code quality issues for Issue #42 - complete backend improvements
  backend/app/api/v1/enhanced_departments.py
  backend/app/api/v1/enhanced_organizations.py
  backend/app/api/v1/router.py
  backend/app/api/v1/user_organization_assignment.py
  backend/app/schemas/department.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/organization.py
  backend/app/schemas/user_assignment.py
  backend/app/services/enhanced_department_service.py
  backend/app/services/enhanced_organization_service.py
  backend/app/services/user_assignment_service.py
  backend/tests/integration/api/v1/test_organization_hierarchy_integration.py
  backend/tests/unit/api/v1/test_enhanced_organizations.py
Due: mypy

docs: Add final comprehensive instructions with activity detection analysis
  docs/coordination/agent-communications/FINAL_COMPREHENSIVE_INSTRUCTIONS_2025-07-17.md
Due: none

docs: Add critical agent instruction compliance report - all agents non-responsive
  docs/coordination/status-reports/AGENT_INSTRUCTION_COMPLIANCE_REPORT_2025-07-17.md
Due: none

CC02: Fix critical backend-test errors - import and boolean comparisons
  backend/CC02_FIX_STATUS.txt
  backend/app/api/v1/audit_logs_enhanced.py
  backend/app/api/v1/password_security.py
  backend/app/models/password_policy.py
  backend/app/services/password_policy_service.py
  backend/tests/unit/api/v1/test_enhanced_security_monitoring.py
Due: mypy

fix: Improve auto-assignment logic to handle pre-existing agent labels
  .github/workflows/claude-pm-automation.yml
Due: none

fix: Add type annotations to expense_category.py validators
  backend/app/schemas/expense_category.py
Due: mypy

fix(ui): Add Button component with TypeScript strict typing
  frontend/src/components/ui/Button.stories.tsx
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/Button.tsx
Due: typescript

fix: Add type annotations to auth.py validators
  backend/app/schemas/auth.py
Due: mypy

fix: Add comprehensive type annotations to schemas and API endpoints
  backend/app/api/v1/expenses.py
  backend/app/schemas/budget.py
  backend/app/schemas/customer.py
  backend/app/schemas/expense.py
Due: mypy

chore: Update CI/CD pipeline to reflect type annotation progress
  .github/workflows/ci.yml
Due: none

fix: Complete type annotations for expense_category.py validators
  backend/app/schemas/expense_category.py
Due: mypy

feat: Add CC01 priority system verification
  frontend/README.md
Due: none

docs: CC03 priority system verification
  README.md
Due: none

fix: Add type annotations to schemas/application.py validators
  backend/CC02_BACKEND_STATUS.md
  backend/app/schemas/application.py
  backend/app/services/permission_inheritance.py
Due: mypy

test: CC01 direct execution test
  frontend/src/test-communication.txt
Due: none

CC01: Status file created
  CC01_STATUS.txt
Due: none

fix: Add type annotations to expense_category.py validators
  backend/app/api/v1/agent_health.py
  backend/app/core/config.py
  backend/app/models/organization.py
Due: mypy

fix: Major type annotation improvements - reduce mypy errors by ~30
  backend/app/api/v1/budgets.py
  backend/app/repositories/task.py
  backend/app/schemas/task.py
  backend/app/services/permission_matrix.py
  backend/app/services/user_profile.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

fix: Resolve major mypy strict mode violations (32 errors fixed)
  backend/app/api/v1/audit.py
  backend/app/api/v1/budgets.py
  backend/app/repositories/task.py
  backend/app/services/multi_tenant.py
  backend/app/services/permission_inheritance.py
  backend/app/services/permission_matrix.py
Due: mypy

fix: Resolve CI failures - ruff linting and code quality issues
  backend/app/api/v1/audit.py
  backend/app/api/v1/expenses.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/models/notification.py
  backend/app/models/organization.py
  backend/app/models/user.py
  backend/app/repositories/task.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/notification.py
  backend/app/services/notification.py
  backend/app/services/user_profile.py
Due: mypy

fix: Resolve SQLAlchemy metadata field conflict and type annotation issues
  backend/app/models/notification.py
  backend/app/schemas/notification.py
  backend/app/services/notification.py
  backend/app/services/user_profile.py
Due: mypy

fix: Complete TC006 ruff type cast string quoting fixes
  backend/app/services/user_profile.py
Due: mypy

fix: Resolve CI failures - ruff formatting and mypy type issues
  backend/app/api/v1/expenses.py
  backend/app/api/v1/financial_reports.py
  backend/app/models/notification.py
  backend/app/repositories/task.py
  backend/app/schemas/budget.py
  backend/app/schemas/customer.py
  backend/app/schemas/expense.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/notification.py
  backend/app/schemas/task.py
  backend/app/services/expense_service.py
  backend/app/services/financial_reports_service.py
  backend/app/services/multi_tenant.py
  backend/app/services/notification.py
  backend/app/services/permission_matrix.py
  backend/app/services/user_profile.py
Due: mypy

fix: Partial MyPy type error fixes and test database debugging
  backend/app/core/auth.py
  backend/app/repositories/role.py
  backend/app/services/workflow_service.py
  backend/tests/conftest.py
Due: mypy

fix: Continue type annotation improvements for CC02 compliance
  backend/app/models/permission.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/schemas/common.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/organization.py
  backend/app/schemas/pm_automation.py
  backend/app/schemas/report.py
  backend/app/schemas/role.py
  backend/tests/conftest.py
  backend/tests/unit/models/test_role.py
Due: mypy

fix: Resolve type annotation issues in report and workflow services
  backend/app/services/report_service.py
  backend/app/services/workflow_service.py
Due: mypy

feat: Implement comprehensive File Upload and Export/Import services for Issue #288
  backend/app/api/v1/data_export.py
  backend/app/api/v1/file_upload.py
  backend/app/models/export_job.py
  backend/app/models/file_metadata.py
  backend/app/schemas/data_export.py
  backend/app/schemas/file_upload.py
  backend/app/services/data_export.py
  backend/app/services/file_upload.py
  backend/app/services/role.py
  backend/pyproject.toml
  backend/tests/unit/services/test_data_export_service.py
  backend/tests/unit/services/test_file_upload_service.py
  backend/uv.lock
Due: mypy

wip: Save comprehensive type annotation and service implementation progress
  backend/app/api/v1/data_export.py
  backend/app/api/v1/file_upload.py
  backend/app/api/v1/financial_reports.py
  backend/app/models/__init__.py
  backend/app/models/export_job.py
  backend/app/models/file_metadata.py
  backend/app/models/notification.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/repositories/role.py
  backend/app/schemas/common.py
  backend/app/schemas/data_export.py
  backend/app/schemas/expense_category.py
  backend/app/schemas/file_upload.py
  backend/app/schemas/notification.py
  backend/app/schemas/pm_automation.py
  backend/app/schemas/role.py
  backend/app/services/cache.py
  backend/app/services/data_export.py
  backend/app/services/file_upload.py
  backend/app/services/notification.py
  backend/app/services/report_service.py
  backend/app/services/user_profile.py
  backend/app/services/workflow_service.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_cache_service.py
  backend/tests/unit/services/test_data_export_service.py
  backend/tests/unit/services/test_file_upload_service.py
Due: mypy

fix: Resolve critical type annotation errors for PR #222 CI compliance
  backend/app/schemas/common.py
  backend/app/schemas/notification.py
  backend/app/services/cache.py
  backend/app/services/data_export.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

fix: Resolve critical MyPy type errors in core schemas and services
  backend/app/schemas/common.py
  backend/app/services/cache.py
  backend/app/services/data_export.py
Due: mypy

feat: Complete Issue #288 - Add missing notifications API endpoints
  backend/app/api/v1/notifications.py
  backend/app/api/v1/router.py
Due: mypy

fix: Resolve API import dependencies and Pydantic schema compatibility
  backend/app/api/v1/data_export.py
  backend/app/api/v1/file_upload.py
  backend/app/api/v1/notifications.py
  backend/app/schemas/notification.py
Due: mypy

fix: Resolve MyPy type errors in cache.py for PR #222 CI compliance
  backend/app/services/cache.py
Due: mypy

fix: Add BACKEND_CORS_ORIGINS to E2E test workflow environment
  .github/workflows/e2e-tests.yml
Due: none

feat: Complete Issue #273 - Add missing Mapped type annotations to model relationships
  backend/app/models/audit.py
  backend/app/models/department.py
  backend/app/models/project.py
Due: mypy

fix: Complete type annotation fixes for PR #222
  backend/app/api/v1/applications.py
  backend/app/api/v1/opportunities.py
  backend/app/api/v1/reports.py
  backend/app/models/audit.py
  backend/app/models/department.py
  backend/app/models/project.py
  backend/app/schemas/notification.py
  backend/app/schemas/role.py
  backend/app/services/cache.py
  backend/app/services/permission.py
  backend/pyproject.toml
  backend/uv.lock
Due: mypy

feat: Complete Issue #42 Organization and Department Management API
  backend/app/api/v1/departments.py
  backend/app/api/v1/organizations.py
  backend/app/services/department.py
Due: mypy

fix: Resolve type errors in Issue #42 API implementation
  backend/app/api/v1/departments.py
  backend/app/api/v1/organizations.py
Due: mypy

feat: Implement Issue #46 - Security audit log and monitoring functionality
  backend/alembic/env.py
  backend/app/api/v1/router.py
  backend/app/api/v1/security_audit.py
  backend/app/models/security_audit.py
  backend/app/schemas/security_audit.py
  backend/app/services/expense_category_service.py
  backend/app/services/opportunity_service.py
  backend/app/services/permission.py
  backend/app/services/security_audit_service.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
