Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

docs: Add handover document CC01_20250710_01
  docs/handover/CC01_20250710_01.md
Due: none

docs: Add handover document CC03_20250110_01
  docs/handover/CC03_20250110_01.md
Due: none

docs: Add sprint plan for 2025 Week 29 (Phase 3 completion & Phase 4 start)
  docs/sprint/SPRINT_2025W29_PLAN.md
Due: none

docs: Add branch management and workflow documentation
  docs/maintenance/BRANCH_CLEANUP_PLAN.md
  docs/workflow/MERGE_WORKFLOW_BEST_PRACTICES.md
Due: none

docs: Add mandatory reading section to CLAUDE.md for branch management
  CLAUDE.md
Due: none

feat: Add Claude Code automation tools for multi-agent coordination
  Makefile
  scripts/claude-code-automation/.gitignore
  scripts/claude-code-automation/README.md
  scripts/claude-code-automation/agent/agent-init.sh
  scripts/claude-code-automation/agent/agent-work.sh
  scripts/claude-code-automation/agent/auto-fix-ci.sh
  scripts/claude-code-automation/claude-code
  scripts/claude-code-automation/config/project.conf.example
  scripts/claude-code-automation/docs/AGENT_AUTOMATION_GUIDE.md
  scripts/claude-code-automation/docs/AGENT_STARTUP_PROMPT.md
  scripts/claude-code-automation/docs/MULTI_AGENT_COORDINATION.md
  scripts/claude-code-automation/pm/agent-status.sh
  scripts/claude-code-automation/pm/distribute-tasks.sh
Due: none

docs: Add automation tools announcement for Claude Code agents
  docs/handover/PM01_20250711_01.md
Due: none

fix: Adjust polling interval to 15 minutes for better responsiveness
  INSTRUCTIONS_FOR_AGENTS.md
  scripts/claude-code-automation/agent/agent-init.sh
  scripts/claude-code-automation/config/project.conf.example
  scripts/claude-code-automation/docs/AGENT_AUTOMATION_GUIDE.md
  scripts/claude-code-automation/docs/AGENT_STARTUP_PROMPT.md
Due: none

fix: Fix E2E test CI workflow configuration
  .github/workflows/ci.yml
Due: none

docs: Add handover document CC03_20250111_01
  docs/handover/CC03_20250111_01.md
Due: none

fix: Resolve timezone comparison errors in backend tests
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/app/repositories/user.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Remove unused import and fix line length
  backend/app/repositories/user.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Use SQLite for all tests in CI environment
  backend/tests/conftest.py
Due: mypy

fix: Replace timezone-aware datetime with naive datetime for SQLite compatibility
  backend/app/models/user.py
  backend/app/models/user_session.py
Due: mypy

fix: Remove timezone-aware datetime from test files
  backend/tests/conftest.py
  backend/tests/unit/models/test_user_extended.py
Due: mypy

fix: Remove final UTC reference in test_user_extended.py
  backend/tests/unit/models/test_user_extended.py
Due: mypy

fix: Disable webServer in Playwright config for CI environment
  frontend/playwright.config.ts
Due: typescript

fix: Fix database configuration in E2E test CI
  .github/workflows/ci.yml
Due: none

fix: CI test failures for PR #97 - timezone and model field issues
  backend/app/models/user.py
  backend/tests/test_main.py
  backend/tests/unit/models/test_organization.py
  backend/tests/unit/test_models_user.py
Due: mypy

fix: Use SQLite for all tests (unit and integration) in CI environment
  backend/tests/conftest.py
Due: mypy

fix: Add complete environment setup for E2E tests
  .github/workflows/ci.yml
Due: none

fix: Remove duplicate factories.py file causing import conflicts
  backend/app/api/v1/router.py
  backend/tests/factories.py
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

fix: Force SQLite for all tests in CI regardless of DATABASE_URL
  backend/tests/conftest.py
Due: mypy

fix: Ensure database migrations run properly in CI
  .github/workflows/ci.yml
Due: none

fix: Update Core Foundation Tests and Code Quality issues
  backend/alembic/versions/003_complete_type_safe_schema.py
  backend/alembic/versions/004_add_permission_models.py
  backend/app/api/v1/router.py
  backend/app/services/department.py
Due: mypy

fix: Remove whitespace from empty line in conftest.py
  backend/tests/conftest.py
Due: mypy

docs: Add comprehensive automation system guide and PM best practices
  AUTOMATION_SYSTEM_GUIDE.md
  docs/PM_BEST_PRACTICES.md
Due: none

docs: Add troubleshooting guide and automation improvement proposals
  AUTOMATION_IMPROVEMENTS.md
  TROUBLESHOOTING_GUIDE.md
Due: none

feat: Implement automation system v2 with improved reliability
  AUTOMATION_SYSTEM_GUIDE.md
  scripts/claude-code-automation/agent/agent-init-v2.sh
  scripts/claude-code-automation/agent/health-check.sh
  scripts/claude-code-automation/agent/quick-start.sh
Due: none

fix(tests): Use PostgreSQL in CI when DATABASE_URL is set
  backend/tests/conftest.py
Due: mypy

fix(models): Fix timezone-aware datetime comparison in UserSession
  backend/app/models/user_session.py
Due: mypy

fix(models): Fix all timezone-aware datetime comparisons in User model
  backend/app/models/user.py
Due: mypy

fix(datetime): Use timezone-aware datetimes throughout repository and tests
  backend/app/repositories/user.py
  backend/tests/unit/repositories/test_user_repository.py
Due: mypy

style: Apply ruff formatting to user.py
  backend/app/repositories/user.py
Due: mypy

fix(repository): Fix recursive CTE query for organization subsidiaries
  backend/app/repositories/organization.py
Due: mypy

style: Fix ruff linting issues in organization.py
  backend/app/repositories/organization.py
Due: mypy

style: Apply ruff formatting to organization.py
  backend/app/repositories/organization.py
Due: mypy

fix(tests): Add organization_id to role creation test
  backend/tests/integration/api/v1/test_roles.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
