Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

feat: Complete product management API with 10 endpoints
  CC02_progress_v30.txt
  backend/app/api/v1/products_complete_v30.py
  backend/app/crud/product_extended_v30.py
  backend/app/models/product_extended.py
  backend/app/schemas/product_complete_v30.py
  backend/tests/api/test_products_complete_v30.py
Due: mypy

feat: add Pagination component with comprehensive features
  frontend/src/components/ui/Pagination.test.tsx
  frontend/src/components/ui/Pagination.tsx
Due: typescript

feat: Complete inventory management API with 10 endpoints
  CC02_progress_v30.txt
  backend/app/api/v1/inventory_complete_v30.py
  backend/app/crud/inventory_extended_v30.py
  backend/app/models/inventory_extended.py
  backend/app/schemas/inventory_complete_v30.py
  backend/tests/api/test_inventory_complete_v30.py
Due: mypy

feat: add Alert component with comprehensive features
  frontend/src/components/ui/Alert.test.tsx
  frontend/src/components/ui/Alert.tsx
Due: typescript

feat: add Badge component with versatile features
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
Due: typescript

feat: Complete Task 1.5 - Sales Management API Implementation
  backend/app/api/v1/sales_complete_v30.py
  backend/app/crud/sales_extended_v30.py
  backend/app/models/sales_extended.py
  backend/app/schemas/sales_complete_v30.py
  backend/tests/api/test_sales_complete_v30.py
Due: mypy

feat: add Card component with comprehensive features
  frontend/src/components/ui/Card.test.tsx
  frontend/src/components/ui/Card.tsx
Due: typescript

feat: add DataTable component with comprehensive features
  frontend/src/components/ui/DataTable.test.tsx
  frontend/src/components/ui/DataTable.tsx
Due: typescript

feat: Complete Task 1.6 - Purchasing Management API Implementation
  backend/app/api/v1/purchasing_complete_v30.py
  backend/app/crud/purchasing_extended_v30.py
  backend/app/models/purchasing_extended.py
  backend/app/schemas/purchasing_complete_v30.py
  backend/tests/api/test_purchasing_complete_v30.py
Due: mypy

feat: add Form component with comprehensive validation system
  frontend/src/components/ui/Form.test.tsx
  frontend/src/components/ui/Form.tsx
Due: typescript

feat: Complete Task 1.7 - Customer Relationship Management API Implementation
  backend/app/api/v1/crm_complete_v30.py
  backend/app/crud/crm_extended_v30.py
  backend/app/models/crm_extended.py
  backend/app/schemas/crm_complete_v30.py
  backend/tests/api/test_crm_complete_v30.py
Due: mypy

feat: add Input component with comprehensive features
  frontend/src/components/ui/Input.test.tsx
  frontend/src/components/ui/Input.tsx
Due: typescript

feat: add Button component with comprehensive features
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/Button.tsx
Due: typescript

feat: add Select component with comprehensive features
  frontend/src/components/ui/Select.test.tsx
  frontend/src/components/ui/Select.tsx
Due: typescript

feat: Complete Task 1.8 - Supplier Relationship Management API (10 endpoints)
  backend/app/api/v1/supplier_relationship_v30.py
  backend/app/crud/supplier_relationship_v30.py
  backend/app/models/supplier_relationship_extended.py
  backend/app/schemas/supplier_relationship_v30.py
  backend/tests/api/test_supplier_relationship_v30.py
Due: mypy

feat(ui): add Switch component with comprehensive features
  frontend/src/components/ui/Switch.test.tsx
  frontend/src/components/ui/Switch.tsx
Due: typescript

feat: Complete Task 1.9 - Category Management API (10+ endpoints)
  backend/app/api/v1/category_v30.py
  backend/app/crud/category_v30.py
  backend/app/models/category_extended.py
  backend/app/schemas/category_v30.py
  backend/tests/api/test_category_v30.py
Due: mypy

feat(ui): add Slider/Range component with comprehensive features
  frontend/src/components/ui/Slider.test.tsx
  frontend/src/components/ui/Slider.tsx
Due: typescript

feat(ui): add Progress component with comprehensive features
  frontend/src/components/ui/Progress.test.tsx
  frontend/src/components/ui/Progress.tsx
Due: typescript

feat: Complete Task 1.10 - Warehouse Management API with comprehensive testing
  backend/app/api/v1/warehouse_v30.py
  backend/app/crud/warehouse_v30.py
  backend/app/models/warehouse_extended.py
  backend/app/schemas/warehouse_v30.py
  backend/tests/api/test_warehouse_v30.py
Due: mypy

feat(ui): add Spinner component with comprehensive features
  frontend/src/components/ui/Spinner.test.tsx
  frontend/src/components/ui/Spinner.tsx
Due: typescript

feat(ui): add Avatar component with comprehensive features
  frontend/src/components/ui/Avatar.test.tsx
  frontend/src/components/ui/Avatar.tsx
Due: typescript

feat: Complete infrastructure overhaul v28.0
  .github/workflows/cache-optimizer.yml
  .github/workflows/parallel-ci.yml
  .github/workflows/security-scan.yml
  backend/app/middleware/security.py
  backend/tests/integration/test_api_health.py
  docker-compose.dev.yml
  frontend/playwright.config.ts
  frontend/tests/e2e/auth/login.spec.ts
  frontend/tests/e2e/pages/DashboardPage.ts
  frontend/tests/e2e/pages/LoginPage.ts
  k8s/argocd-app.yaml
  k8s/base/backend-deployment.yaml
  k8s/base/backend-service.yaml
  k8s/base/kustomization.yaml
  k8s/base/namespace.yaml
  monitoring/prometheus.yml
  scripts/optimize-performance.sh
  tests/load/locustfile.py
Due: mypy, typescript

Add Component #31: Badge with comprehensive features
  frontend/src/components/ui/Badge.test.tsx
  frontend/src/components/ui/Badge.tsx
Due: typescript

Add Component #32: Checkbox with comprehensive features
  frontend/src/components/ui/Checkbox.test.tsx
  frontend/src/components/ui/Checkbox.tsx
Due: typescript

feat: Complete Phase 2 Task 2.1 - Finance Management API (CC02 v31.0)
  backend/app/api/v1/finance_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/finance_v31.py
  backend/app/models/__init__.py
  backend/app/models/finance_extended.py
  backend/app/schemas/finance_v31.py
  backend/tests/api/test_finance_v31.py
Due: mypy

Add Component #33: Radio with comprehensive features
  frontend/src/components/ui/Radio.test.tsx
  frontend/src/components/ui/Radio.tsx
Due: typescript

feat: Complete CC03 v28.0 infrastructure implementation - Final commit
  backend/Dockerfile.dev
  backend/tests/load/stress_test.py
  frontend/Dockerfile.dev
  frontend/tests/e2e/api/api-integration.spec.ts
  frontend/tests/e2e/user/user-management.spec.ts
  k8s/base/config.json
  k8s/base/frontend-deployment.yaml
  k8s/base/frontend-service.yaml
  k8s/base/ingress.yaml
  k8s/base/postgres-statefulset.yaml
  k8s/base/redis-deployment.yaml
  k8s/base/secrets.env
  k8s/overlays/prod/kustomization.yaml
  k8s/overlays/prod/replica-count.yaml
  k8s/overlays/prod/resource-limits.yaml
  k8s/overlays/prod/secrets.env
Due: mypy, typescript

Add Component #34: Textarea with comprehensive features
  frontend/src/components/ui/Textarea.test.tsx
  frontend/src/components/ui/Textarea.tsx
Due: typescript

feat: Complete HR API implementation - CC02 v31.0 Phase 2 Task 2.2
  backend/app/api/v1/hr_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/hr_v31.py
  backend/app/models/__init__.py
  backend/app/models/hr_extended.py
  backend/app/schemas/hr_v31.py
  backend/tests/api/test_hr_v31.py
Due: mypy

Add Component #35: Tooltip with comprehensive features
  frontend/src/components/ui/Tooltip.test.tsx
  frontend/src/components/ui/Tooltip.tsx
Due: typescript

feat: Component #36 - Dropdown with comprehensive features
  frontend/src/components/ui/Dropdown.test.tsx
  frontend/src/components/ui/Dropdown.tsx
Due: typescript

feat: Complete Project Management API implementation - CC02 v31.0 Phase 2 Task 2.3
  backend/app/api/v1/project_v31.py
  backend/app/api/v1/router.py
  backend/app/crud/project_v31.py
  backend/app/models/__init__.py
  backend/app/models/project_extended.py
  backend/app/schemas/project_v31.py
  backend/tests/api/test_project_v31.py
Due: mypy

feat: Component #37 - Tag with comprehensive features
  frontend/src/components/ui/Tag.test.tsx
  frontend/src/components/ui/Tag.tsx
Due: typescript

feat: Component #38 - Stepper with comprehensive step navigation
  frontend/src/components/ui/Stepper.test.tsx
  frontend/src/components/ui/Stepper.tsx
Due: typescript

feat: Component #39 - Tree with comprehensive hierarchical navigation
  frontend/src/components/ui/Tree.test.tsx
  frontend/src/components/ui/Tree.tsx
Due: typescript

feat: Component #40 - Upload with comprehensive file handling
  frontend/src/components/ui/Upload.test.tsx
  frontend/src/components/ui/Upload.tsx
Due: typescript
