Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

feat: CC02 v58.0 Advanced Customer Management - CRM, RFM Analysis & LTV Intelligence (#595)
  backend/app/api/v1/customer_advanced_v58.py
  backend/tests/unit/api/test_customer_advanced_v58.py
Due: mypy

CC03 v65.0 統合監視ダッシュボードシステム実装 #594 (#596)
  monitoring/README-v65.md
  monitoring/alertmanager-v65.yml
  monitoring/alerts/alert-rules-v65.yml
  monitoring/blackbox-v65.yml
  monitoring/dashboards/application-performance-v65.json
  monitoring/dashboards/database-monitoring-v65.json
  monitoring/dashboards/itdo-erp-overview-v65.json
  monitoring/deploy-monitoring-v65.sh
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

feat: CC02 v59.0 Order Processing Workflow API
  backend/app/api/v1/order_workflow_v59.py
  backend/tests/unit/api/test_order_workflow_v59.py
Due: mypy

CC02 v59.0 注文処理ワークフロー完全実装 #597 (#599)
  backend/app/api/v1/order_workflow_v59.py
  backend/tests/unit/api/test_order_workflow_v59.py
Due: mypy

feat: CC02 v60.0 - Day 5 Inventory Integration Management System
  backend/app/api/v1/inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_integration_v60.py
Due: mypy

feat: CC02 v61.0 - Day 6 Advanced Reporting & Analytics Management System
  backend/app/api/v1/reporting_analytics_v61.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
Due: mypy

feat: CC02 v60.0 支払い処理統合API完全実装
  backend/app/api/v1/payment_processing.py
  backend/app/api/v1/router.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/models/__init__.py
  backend/app/models/payment_processing.py
  backend/app/schemas/payment_processing.py
  backend/app/services/payment_processing_service.py
  backend/tests/api/v1/test_payment_processing.py
  backend/uv.lock
Due: mypy

feat: CC02 v61.0 - 配送管理システムAPI実装完了
  backend/app/api/v1/__init__.py
  backend/app/api/v1/shipping.py
  backend/app/models/__init__.py
  backend/app/models/shipping_management.py
  backend/app/schemas/shipping.py
  backend/app/services/shipping_optimization.py
  backend/app/services/shipping_service.py
  backend/tests/api/v1/test_shipping.py
Due: mypy

feat: CC02 v62.0 Day 7 - Advanced API Gateway & Microservices Architecture
  backend/app/api/v1/api_gateway_v62.py
  backend/tests/unit/api/test_api_gateway_v62.py
Due: mypy

CC02 v62.0 Day 7: Advanced API Gateway & Microservices Architecture (#609)
  backend/app/api/v1/api_gateway_v62.py
  backend/tests/unit/api/test_api_gateway_v62.py
Due: mypy

feat: CC02 v62.0 Day 7 - Inventory Management Integration System API
  backend/app/api/v1/inventory_integration.py
  backend/app/api/v1/router.py
  backend/app/models/inventory_integration.py
  backend/app/schemas/inventory_integration.py
  backend/app/services/inventory_integration_service.py
  backend/app/services/warehouse_management_service.py
  backend/tests/test_inventory_integration.py
Due: mypy

feat: CC02 v63.0 Day 8 - Enterprise Integration Patterns & Message Queues
  backend/app/api/v1/enterprise_integration_v63.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
Due: mypy

CC02 v63.0 Day 8: Enterprise Integration Patterns & Message Queues (#611)
  backend/app/api/v1/enterprise_integration_v63.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
Due: mypy

feat: CC02 v64.0 Day 9 - Advanced Analytics & Business Intelligence
  backend/app/api/v1/analytics_bi_v64.py
  backend/tests/unit/api/test_analytics_bi_v64.py
Due: mypy

CC02 v64.0 Day 9: Advanced Analytics & Business Intelligence (#612)
  backend/app/api/v1/analytics_bi_v64.py
  backend/tests/unit/api/test_analytics_bi_v64.py
Due: mypy

feat: CC02 v64.0 Day 9 - API Integration Platform Implementation
  backend/app/api/v1/api_integration.py
  backend/app/api/v1/router.py
  backend/app/models/__init__.py
  backend/app/models/api_integration.py
  backend/app/models/dashboard_system.py
  backend/app/schemas/api_integration.py
  backend/app/services/api_integration_service.py
  backend/tests/test_api_integration.py
Due: mypy

🚀 feat: CC02 v65.0 Day 10 - Complete Cloud-Native Deployment & Infrastructure
  .github/workflows/cd-production.yaml
  backend/Dockerfile.production
  backend/tests/unit/api/test_cloud_deployment_v65.py
  deployment/helm/itdo-erp/Chart.yaml
  deployment/helm/itdo-erp/templates/_helpers.tpl
  deployment/helm/itdo-erp/templates/backend-deployment.yaml
  deployment/helm/itdo-erp/templates/backend-service.yaml
  deployment/helm/itdo-erp/templates/configmap.yaml
  deployment/helm/itdo-erp/templates/frontend-deployment.yaml
  deployment/helm/itdo-erp/templates/frontend-service.yaml
  deployment/helm/itdo-erp/templates/hpa.yaml
  deployment/helm/itdo-erp/templates/ingress.yaml
  deployment/helm/itdo-erp/templates/namespace.yaml
  deployment/helm/itdo-erp/templates/pdb.yaml
  deployment/helm/itdo-erp/templates/secrets.yaml
  deployment/helm/itdo-erp/values-staging.yaml
  deployment/helm/itdo-erp/values.yaml
  deployment/kubernetes/backend.yaml
  deployment/kubernetes/configmap.yaml
  deployment/kubernetes/frontend.yaml
  deployment/kubernetes/ingress.yaml
  deployment/kubernetes/namespace.yaml
  deployment/kubernetes/postgresql.yaml
  deployment/kubernetes/redis.yaml
  deployment/kubernetes/secrets.yaml
  deployment/monitoring/alertmanager-config.yaml
  deployment/monitoring/grafana-dashboards.yaml
  deployment/monitoring/loki-config.yaml
  deployment/monitoring/prometheus-config.yaml
  deployment/security/admission-controller.yaml
  deployment/security/falco-rules.yaml
  deployment/security/network-policies.yaml
  deployment/security/pod-security-policies.yaml
  deployment/terraform/main.tf
  deployment/terraform/outputs.tf
  deployment/terraform/variables.tf
  frontend/src/test/cloud-deployment-v65.test.tsx
  scripts/test-deployment-v65.sh
Due: mypy, typescript

🚀 CC02 v65.0 Day 10: Complete Cloud-Native Deployment & Infrastructure (#613)
  .github/workflows/cd-production.yaml
  backend/Dockerfile.production
  backend/tests/unit/api/test_cloud_deployment_v65.py
  deployment/helm/itdo-erp/Chart.yaml
  deployment/helm/itdo-erp/templates/_helpers.tpl
  deployment/helm/itdo-erp/templates/backend-deployment.yaml
  deployment/helm/itdo-erp/templates/backend-service.yaml
  deployment/helm/itdo-erp/templates/configmap.yaml
  deployment/helm/itdo-erp/templates/frontend-deployment.yaml
  deployment/helm/itdo-erp/templates/frontend-service.yaml
  deployment/helm/itdo-erp/templates/hpa.yaml
  deployment/helm/itdo-erp/templates/ingress.yaml
  deployment/helm/itdo-erp/templates/namespace.yaml
  deployment/helm/itdo-erp/templates/pdb.yaml
  deployment/helm/itdo-erp/templates/secrets.yaml
  deployment/helm/itdo-erp/values-staging.yaml
  deployment/helm/itdo-erp/values.yaml
  deployment/kubernetes/backend.yaml
  deployment/kubernetes/configmap.yaml
  deployment/kubernetes/frontend.yaml
  deployment/kubernetes/ingress.yaml
  deployment/kubernetes/namespace.yaml
  deployment/kubernetes/postgresql.yaml
  deployment/kubernetes/redis.yaml
  deployment/kubernetes/secrets.yaml
  deployment/monitoring/alertmanager-config.yaml
  deployment/monitoring/grafana-dashboards.yaml
  deployment/monitoring/loki-config.yaml
  deployment/monitoring/prometheus-config.yaml
  deployment/security/admission-controller.yaml
  deployment/security/falco-rules.yaml
  deployment/security/network-policies.yaml
  deployment/security/pod-security-policies.yaml
  deployment/terraform/main.tf
  deployment/terraform/outputs.tf
  deployment/terraform/variables.tf
  frontend/src/test/cloud-deployment-v65.test.tsx
  scripts/test-deployment-v65.sh
Due: mypy, typescript

CC02 v60.0 Day 5: Inventory Integration Management System (#603)
  backend/app/api/v1/inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_integration_v60.py
Due: mypy

CC02 v61.0 Day 6: Advanced Reporting & Analytics Management System (#605)
  backend/app/api/v1/reporting_analytics_v61.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
Due: mypy

🛍️ feat: Day 8 - Complete Product Management API v66 Implementation
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/tests/unit/api/test_product_management_v66.py
Due: mypy

🛍️ Day 8: Complete Product Management API v66 - ERP Core Foundation (#615)
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/tests/unit/api/test_product_management_v66.py
Due: mypy

📦 feat: Day 9 - Advanced Inventory Management System v67 Complete
  backend/app/api/v1/inventory_management_v67.py
  backend/tests/unit/api/test_inventory_management_v67.py
Due: mypy

Day 9: Advanced Inventory Management System v67 - Complete Multi-Location Inventory Platform (#616)
  backend/app/api/v1/inventory_management_v67.py
  backend/tests/unit/api/test_inventory_management_v67.py
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/customer_advanced_v58.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_advanced_v57.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/payment_processing.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/services/business_rules_engine.py
  backend/app/services/deployment_manager.py
  backend/app/services/integration_services.py
  backend/app/services/scalability_manager.py
  backend/app/services/test_automation_engine.py
  backend/app/services/validation_framework.py
  backend/app/services/workflow_engine.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_cloud_deployment_v65.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_product_management_v66.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  frontend/src/test/cloud-deployment-v65.test.tsx
Due: mypy, typescript

feat: Day 11 - Complete Purchase Order Management System v69
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/customer_advanced_v58.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_advanced_v57.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/payment_processing.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/app/services/business_rules_engine.py
  backend/app/services/deployment_manager.py
  backend/app/services/integration_services.py
  backend/app/services/scalability_manager.py
  backend/app/services/test_automation_engine.py
  backend/app/services/validation_framework.py
  backend/app/services/workflow_engine.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_cloud_deployment_v65.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_product_management_v66.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
Due: mypy

🛒 feat: Day 11 - Purchase Order Management System v69 (#617)
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/customer_advanced_v58.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_advanced_v57.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/payment_processing.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/app/services/business_rules_engine.py
  backend/app/services/deployment_manager.py
  backend/app/services/integration_services.py
  backend/app/services/scalability_manager.py
  backend/app/services/test_automation_engine.py
  backend/app/services/validation_framework.py
  backend/app/services/workflow_engine.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_cloud_deployment_v65.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_product_management_v66.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/purchase_order_management_v69.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/api/v1/sales_order_management_v68.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_purchase_order_management_v69.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/api/test_sales_order_management_v68.py
  frontend/src/test/cloud-deployment-v65.test.tsx
Due: mypy, typescript

feat: Day 12 - Complete Customer Management System v70
  backend/alembic/versions/001_create_users_simple.py
  backend/app/api/v1/analytics_bi_v64.py
  backend/app/api/v1/api_gateway_v62.py
  backend/app/api/v1/customer_advanced_v58.py
  backend/app/api/v1/customer_management_v70.py
  backend/app/api/v1/enterprise_integration_v63.py
  backend/app/api/v1/inventory_advanced_v57.py
  backend/app/api/v1/inventory_integration_v60.py
  backend/app/api/v1/inventory_management_v67.py
  backend/app/api/v1/payment_processing.py
  backend/app/api/v1/product_management_v66.py
  backend/app/api/v1/product_media_v66.py
  backend/app/api/v1/product_pricing_v66.py
  backend/app/api/v1/product_search_v66.py
  backend/app/api/v1/reporting_analytics_v61.py
  backend/app/services/business_rules_engine.py
  backend/app/services/deployment_manager.py
  backend/app/services/integration_services.py
  backend/app/services/scalability_manager.py
  backend/app/services/test_automation_engine.py
  backend/app/services/validation_framework.py
  backend/app/services/workflow_engine.py
  backend/tests/unit/api/test_analytics_bi_v64.py
  backend/tests/unit/api/test_api_gateway_v62.py
  backend/tests/unit/api/test_cloud_deployment_v65.py
  backend/tests/unit/api/test_customer_management_v70.py
  backend/tests/unit/api/test_enterprise_integration_v63.py
  backend/tests/unit/api/test_inventory_integration_v60.py
  backend/tests/unit/api/test_inventory_management_v67.py
  backend/tests/unit/api/test_product_management_v66.py
  backend/tests/unit/api/test_reporting_analytics_v61.py
  backend/tests/unit/test_sales.py
  backend/tests/unit/test_types.py
Due: mypy

feat: Day 13 Complete - Unified API Integration with Backward Compatibility
  backend/app/api/v1/unified_inventory_api.py
  backend/app/api/v1/unified_products_api.py
  backend/app/api/v1/unified_sales_api.py
  backend/tests/unit/api/test_unified_apis.py
Due: mypy

fix: Day 14 Quality Assurance - Unified API Environment Compatibility
  backend/app/api/v1/unified_inventory_api.py
  backend/app/api/v1/unified_products_api.py
  backend/app/api/v1/unified_sales_api.py
  backend/tests/unit/api/test_unified_apis.py
Due: mypy

docs: Day 14 Complete - Comprehensive API Integration Documentation
  backend/docs/api/unified_apis_summary.md
Due: none

feat: Day 15 Complete - API統合最終確認完了
  backend/app/api/v1/unified_inventory_api.py
  backend/app/api/v1/unified_products_api.py
  backend/app/api/v1/unified_sales_api.py
  backend/app/models/inventory.py
  backend/app/models/organization.py
  backend/app/models/sales.py
  backend/app/models/task.py
  backend/docs/cc02_v39_progress/day15_api_integration_completion_report.md
Due: mypy

Day 1: Project Management Foundation - useProjects Hook Implementation
  frontend/src/hooks/__tests__/useProjects.test.ts
  frontend/src/hooks/useProjects.ts
Due: typescript

feat: CC03 v68.0 Day 2-5 Production Infrastructure Complete
  backend/infra/production/backup-automation/backup-system.yaml
  backend/infra/production/backup-automation/disaster-recovery.yaml
  backend/infra/production/load-balancer/nginx-configuration.yaml
  backend/infra/production/load-balancer/nginx-failover-automation.yaml
  backend/infra/production/load-balancer/nginx-monitoring.yaml
  backend/infra/production/load-balancer/nginx-plus-ha.yaml
  backend/infra/production/network-security/firewall-ids.yaml
  backend/infra/production/network-security/network-policies.yaml
  backend/infra/production/redis-ha/redis-master-replica.yaml
  backend/infra/production/redis-ha/redis-monitoring.yaml
  backend/infra/production/redis-ha/sentinel-cluster.yaml
  backend/infra/production/ssl-management/cert-manager-setup.yaml
  frontend/src/performance/frontend_performance_optimization.tsx
Due: typescript
