Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

docs: Add development insights and lessons learned
  docs/development-insights.md
Due: none

docs: Add comprehensive environment verification system
  Makefile
  docs/environment-verification-checklist.md
  scripts/verify-environment.sh
Due: none

feat: Add environment verification improvements and documentation
  backend/test-reports/environment-verification-20250705-170047.txt
  backend/test-reports/environment-verification-20250705-170148.txt
  backend/test-reports/environment-verification-20250705-170532.txt
  docs/design/01_システム概要設計書.md
  docs/design/02_要件定義書.md
  docs/design/03_システムアーキテクチャ設計書.md
  docs/design/04_データベース設計書.md
  docs/design/05_API設計書.md
  docs/design/06_セキュリティ設計書.md
  docs/design/07_開発計画書.md
  docs/design/README.md
  docs/environment-verification-report-final.md
  docs/environment-verification-report.md
  docs/investigation-uv-not-found.md
  scripts/verify-environment.sh
  test-reports/environment-verification-20250705-164936.txt
  verification-output.txt
Due: none

fix: Align design documents with development conventions
  docs/design/01_システム概要設計書.md
  docs/design/02_要件定義書.md
  docs/design/03_システムアーキテクチャ設計書.md
  docs/design/04_データベース設計書.md
  docs/design/06_セキュリティ設計書.md
  docs/design/07_開発計画書.md
Due: none

feat: Upgrade to Python 3.13 across entire project
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  backend/.python-version
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  complete-development-docs.md
  docs/design/01_システム概要設計書.md
  docs/design/02_要件定義書.md
  docs/design/03_システムアーキテクチャ設計書.md
  docs/python-313-migration-report.md
Due: none

feat: Complete Python 3.13 test environment setup
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/router.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/pyproject.toml
  backend/tests/test_main.py
  backend/uv.lock
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  scripts/test.sh
Due: mypy, typescript

fix: Resolve GitHub Actions CI failures
  backend/test-reports/environment-verification-20250705-203917.txt
  backend/tests/test_main.py
  frontend/tsconfig.json
Due: mypy

docs: Add Python 3.13 migration insights and lessons learned
  docs/development-insights.md
Due: none

docs: Add implementation plan for development environment verification
  docs/design/implementation-plan.md
Due: none

chore: Add PR template for standardized pull requests
  .github/pull_request_template.md
Due: none

feat: Implement authentication foundation (Phase 1-A)
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/errors.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/router.py
  backend/app/api/v1/users.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/app/core/exceptions.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/error.py
  backend/app/schemas/user.py
  backend/app/services/__init__.py
  backend/app/services/auth.py
  backend/tests/conftest.py
  backend/tests/integration/test_auth_api.py
  backend/tests/integration/test_users_api.py
  backend/tests/security/test_validation.py
  backend/tests/unit/test_models_user.py
  backend/tests/unit/test_security.py
  complete-development-docs.md
  docs/api/auth-api-spec.yaml
  docs/design/auth-design.md
  docs/development-environment-setup.md
  docs/python-313-migration-report.md
  docs/test/auth-test-spec.md
Due: mypy

docs: Update backend README and add .env.example
  backend/.env.example
  backend/README.md
Due: none

feat: 認証基盤実装 (AUTH-001, AUTH-004, USER-001) (#2)
  .github/pull_request_template.md
  backend/.env.example
  backend/README.md
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/errors.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/router.py
  backend/app/api/v1/users.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/app/core/exceptions.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/schemas/__init__.py
  backend/app/schemas/auth.py
  backend/app/schemas/error.py
  backend/app/schemas/user.py
  backend/app/services/__init__.py
  backend/app/services/auth.py
  backend/tests/conftest.py
  backend/tests/integration/test_auth_api.py
  backend/tests/integration/test_users_api.py
  backend/tests/security/test_validation.py
  backend/tests/unit/test_models_user.py
  backend/tests/unit/test_security.py
  complete-development-docs.md
  docs/api/auth-api-spec.yaml
  docs/design/auth-design.md
  docs/development-environment-setup.md
  docs/python-313-migration-report.md
  docs/test/auth-test-spec.md
Due: mypy

feat: Add Keycloak integration and test specifications
  backend/docs/keycloak-integration-spec.md
  backend/docs/keycloak-test-spec.md
Due: none

test: Add comprehensive Keycloak integration test suite (TDD Red phase)
  backend/tests/integration/api/v1/test_auth_keycloak.py
  backend/tests/performance/__init__.py
  backend/tests/performance/test_keycloak_performance.py
  backend/tests/security/__init__.py
  backend/tests/security/test_keycloak_security.py
  backend/tests/test_keycloak_setup.py
  backend/tests/unit/core/test_keycloak.py
  backend/tests/utils/__init__.py
  backend/tests/utils/keycloak.py
Due: mypy

feat: Implement Keycloak OAuth2/OpenID Connect integration (TDD Green phase)
  backend/.env.example
  backend/app/api/v1/admin.py
  backend/app/api/v1/auth_keycloak.py
  backend/app/api/v1/manager.py
  backend/app/api/v1/router.py
  backend/app/core/config.py
  backend/app/core/dependencies.py
  backend/app/core/keycloak.py
  backend/app/core/rbac.py
  backend/app/schemas/keycloak.py
  backend/pyproject.toml
  backend/tests/unit/core/test_keycloak.py
  backend/tests/utils/settings.py
Due: mypy

docs: Add comprehensive Keycloak documentation
  backend/README.md
  backend/docs/keycloak-api-docs.md
  docs/keycloak-setup.md
Due: none

docs: Add organization management specifications
  backend/docs/organization-management-spec.md
  backend/docs/organization-test-spec.md
Due: none

test: implement comprehensive user management tests (TDD Red phase)
  backend/docs/user-management-specification.md
  backend/docs/user-management-test-specification.md
  backend/tests/integration/api/v1/test_users_extended.py
  backend/tests/security/test_user_security.py
  backend/tests/unit/models/test_user_extended.py
  backend/tests/unit/services/test_user_service.py
Due: mypy

feat: implement user management models and services (TDD Green phase)
  backend/alembic/versions/002_add_user_management_tables.py
  backend/app/models/__init__.py
  backend/app/models/audit.py
  backend/app/models/password_history.py
  backend/app/models/user.py
  backend/app/models/user_activity_log.py
  backend/app/models/user_session.py
  backend/app/schemas/department_basic.py
  backend/app/schemas/organization_basic.py
  backend/app/schemas/role_basic.py
  backend/app/schemas/user_extended.py
  backend/app/services/__init__.py
  backend/app/services/audit.py
  backend/app/services/user.py
Due: mypy

feat: complete user management API implementation and environment setup
  CLAUDE.md
  backend/README.md
  backend/app/api/v1/router.py
  backend/app/api/v1/users_extended.py
  backend/app/core/exceptions.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/setup-env.sh
Due: mypy

feat: add project management specification document
  backend/docs/project-management-specification.md
Due: none

fix: Update GitHub Actions to use non-deprecated artifact actions
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/typecheck.yml
  CLAUDE.md
Due: none

test: implement comprehensive project management tests (TDD Red phase)
  backend/docs/project-management-test-specification.md
  backend/tests/factories.py
  backend/tests/integration/api/test_project_api.py
  backend/tests/unit/models/test_project.py
  backend/tests/unit/models/test_task.py
  backend/tests/unit/services/test_project_service.py
Due: mypy

fix: Resolve CI failures in type checking and build processes
  backend/pyproject.toml
  frontend/.eslintrc.cjs
  frontend/Dockerfile
  frontend/package.json
Due: none

fix: Update package-lock.json and temporarily disable SQLAlchemy mypy plugin
  frontend/package-lock.json
Due: none

feat: implement project management services and APIs (TDD Green phase)
  backend/alembic/versions/003_add_project_management_tables.py
  backend/app/api/v1/projects.py
  backend/app/api/v1/router.py
  backend/app/api/v1/tasks.py
  backend/app/models/__init__.py
  backend/app/models/department.py
  backend/app/models/organization.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/task.py
  backend/app/schemas/project.py
  backend/app/schemas/task.py
  backend/app/services/__init__.py
  backend/app/services/project.py
  backend/app/services/task.py
Due: mypy

docs: update documentation for project management features
  backend/README.md
Due: none

fix: Update SQLAlchemy models with proper type annotations
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/models/user_session.py
  backend/pyproject.toml
  frontend/.eslintrc.cjs
Due: mypy

fix: Resolve remaining type checking issues
  backend/app/core/database.py
  backend/app/core/security.py
  backend/app/models/audit.py
  backend/app/models/password_history.py
  backend/app/models/user_activity_log.py
  backend/app/schemas/user_extended.py
Due: mypy

Add dashboard and progress management specification
  backend/docs/dashboard-progress-specification.md
Due: none

fix: Complete SQLAlchemy 2.0 model migration
  backend/app/models/audit.py
  backend/app/models/password_history.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/models/user_activity_log.py
  backend/app/schemas/user_extended.py
Due: mypy

Implement Phase 5: TDD Red - Dashboard and Progress Test Suite
  backend/app/core/exceptions.py
  backend/app/schemas/dashboard.py
  backend/app/services/dashboard.py
  backend/app/services/progress.py
  backend/docs/dashboard-progress-test-specification.md
  backend/tests/conftest.py
  backend/tests/test_dashboard_progress/__init__.py
  backend/tests/test_dashboard_progress/integration/__init__.py
  backend/tests/test_dashboard_progress/integration/test_dashboard_api.py
  backend/tests/test_dashboard_progress/integration/test_progress_api.py
  backend/tests/test_dashboard_progress/integration/test_websocket.py
  backend/tests/test_dashboard_progress/security/__init__.py
  backend/tests/test_dashboard_progress/security/test_dashboard_security.py
  backend/tests/test_dashboard_progress/unit/__init__.py
  backend/tests/test_dashboard_progress/unit/test_dashboard_service.py
  backend/tests/test_dashboard_progress/unit/test_dashboard_views.py
  backend/tests/test_dashboard_progress/unit/test_progress_service.py
Due: mypy

fix: Resolve remaining type checking issues
  backend/app/models/audit.py
  backend/app/models/user.py
  frontend/src/App.test.tsx
Due: mypy, typescript

docs: Update README.md and CLAUDE.md with CI/CD improvements
  CLAUDE.md
  README.md
Due: none

Fix uv usage compliance - Update CLAUDE.md development guidelines
  CLAUDE.md
Due: none

fix: Resolve critical type checking errors
  backend/app/api/v1/auth.py
  backend/app/api/v1/users.py
  backend/app/api/v1/users_extended.py
  backend/app/models/audit.py
  backend/app/models/user.py
Due: mypy

fix: Continue resolving type checking issues
  backend/app/api/v1/users_extended.py
  backend/app/services/user.py
Due: mypy

fix: Final major type checking fixes
  backend/app/api/v1/users_extended.py
  backend/app/models/audit.py
  backend/app/models/user.py
  backend/app/schemas/user.py
Due: mypy
