Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

#64: Complete cleanup and fix Ruff warnings (#67)
  .github/workflows/ci-development.yml
  PR67_FIX_INSTRUCTIONS.md
  backend/app/api/errors.py
  backend/app/api/v1/auth.py
  backend/app/api/v1/departments.py
  backend/app/api/v1/organizations.py
  backend/app/api/v1/roles.py
  backend/app/api/v1/users.py
  backend/app/api/v1/users_extended.py
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/models/base.py
  backend/app/repositories/department.py
  backend/app/repositories/organization.py
  backend/app/repositories/role.py
  backend/app/repositories/user.py
  backend/app/schemas/common.py
  backend/app/schemas/error.py
  backend/app/schemas/organization.py
  backend/app/schemas/role.py
  backend/app/services/department.py
  backend/app/services/role.py
  backend/app/services/user.py
  backend/pyproject.toml
  backend/tests/base.py
  backend/tests/integration/api/v1/test_core.py
  backend/tests/unit/repositories/test_user_repository.py
  backend/tests/unit/services/test_user_service.py
  backend/uv.lock
Due: mypy

Complete UserService implementation - All 20 tests passing
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/repositories/role.py
  backend/app/services/role.py
  backend/app/services/user.py
  backend/tests/factories/role.py
  backend/tests/unit/services/test_user_service.py
Due: mypy

fix: Resolve Ruff code quality errors for PR #80
  backend/app/core/config.py
Due: mypy

style: Apply final code formatting for perfect PR #80
  backend/app/models/user.py
  backend/app/services/user.py
Due: mypy

feat: Complete task management implementation for Issue #78
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/005_add_task_management_tables.py
  backend/app/api/v1/router.py
  backend/app/api/v1/tasks.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/services/task.py
  backend/tests/test_task_management/integration/test_task_api.py
  backend/tests/test_task_management/security/test_task_security.py
Due: mypy

feat: Import task management specifications and skeleton from PR #48
  backend/app/schemas/task.py
  backend/app/services/task.py
  backend/docs/task-management-specification.md
  backend/docs/task-management-test-specification.md
  backend/tests/test_task_management/__init__.py
  backend/tests/test_task_management/integration/__init__.py
  backend/tests/test_task_management/integration/test_task_api.py
  backend/tests/test_task_management/security/__init__.py
  backend/tests/test_task_management/security/test_task_security.py
  backend/tests/test_task_management/unit/__init__.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

Fix Ruff code quality errors
  backend/app/api/v1/tasks.py
  backend/app/models/task.py
  backend/app/services/task.py
Due: mypy

Fix CI configuration and run Ruff auto-fix
  backend/alembic/env.py
  backend/alembic/versions/005_add_task_management_tables.py
  backend/app/api/v1/router.py
  backend/app/models/project.py
  backend/app/models/user.py
  backend/tests/test_task_management/integration/test_task_api.py
  backend/tests/test_task_management/security/test_task_security.py
Due: mypy

Configure Ruff to ignore test file issues
  backend/pyproject.toml
Due: none

Final Issue #78 fixes
  backend/app/api/v1/tasks.py
Due: mypy

fix: Complete task service implementation and fix is_deleted field usage
  backend/app/services/task.py
Due: mypy

#77: Complete UserService implementation - All tests passing (#80)
  backend/app/core/config.py
  backend/app/models/role.py
  backend/app/models/user.py
  backend/app/repositories/role.py
  backend/app/services/role.py
  backend/app/services/user.py
  backend/tests/factories/role.py
  backend/tests/unit/services/test_user_service.py
Due: mypy

#75: Complete task management feature implementation
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/005_add_task_management_tables.py
  backend/app/api/v1/router.py
  backend/app/api/v1/tasks.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/schemas/task.py
  backend/app/services/task.py
  backend/docs/task-management-specification.md
  backend/docs/task-management-test-specification.md
  backend/pyproject.toml
  backend/tests/test_task_management/__init__.py
  backend/tests/test_task_management/integration/__init__.py
  backend/tests/test_task_management/integration/test_task_api.py
  backend/tests/test_task_management/security/__init__.py
  backend/tests/test_task_management/security/test_task_security.py
  backend/tests/test_task_management/unit/__init__.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

test: Update task service tests to match actual implementation
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

test: Fix all remaining task service tests
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

feat: Implement comprehensive permission system for task management
  backend/app/services/permission.py
  backend/app/services/task.py
  backend/tests/test_task_management/unit/test_task_permissions.py
Due: mypy

feat: Implement comprehensive audit logging for task management
  backend/app/schemas/task.py
  backend/app/services/task.py
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

Complete Task Management Service Phase 1 with full integration test suite
  backend/tests/test_task_management/integration/test_task_complete_workflow.py
  backend/tests/test_task_management/unit/test_task_permissions.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

fix: Resolve Code Quality formatting issues in integration test
  backend/tests/test_task_management/integration/test_task_complete_workflow.py
Due: mypy

fix: Add missing Task and Project model imports to test configuration
  backend/tests/conftest.py
Due: mypy

fix: Resolve all Code Quality formatting issues
  backend/tests/test_task_management/integration/test_task_complete_workflow.py
  backend/tests/test_task_management/unit/test_task_audit.py
Due: mypy

feat: Implement Department Service with hierarchical structure support
  backend/alembic/versions/006_add_department_hierarchy_fields.py
  backend/app/models/department.py
  backend/app/repositories/department.py
  backend/app/schemas/department.py
Due: mypy

fix: Apply formatting fixes for Ruff compliance
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_permissions.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

docs: Add Sprint 2 completion report
  backend/SPRINT2_COMPLETION_REPORT.md
Due: none

Fix all Ruff formatting violations for PR #94
  backend/alembic/versions/006_add_department_hierarchy_fields.py
  backend/app/models/department.py
  backend/app/repositories/department.py
  backend/app/services/permission.py
  backend/app/services/task.py
  backend/tests/conftest.py
  backend/tests/test_task_management/integration/test_task_complete_workflow.py
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_permissions.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

Final CI resolution for PR #94 - Sprint 3 Day 3 completion
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_permissions.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

fix: Apply final ruff formatting for CI compliance
  backend/app/services/permission.py
  backend/tests/test_task_management/unit/test_task_audit.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

feat: Implement E2E testing infrastructure with Playwright
  .github/workflows/ci.yml
  frontend/E2E-SETUP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/README.md
  frontend/tests/e2e/auth/login.spec.ts
  frontend/tests/e2e/auth/logout.spec.ts
  frontend/tests/e2e/auth/session.spec.ts
  frontend/tests/e2e/fixtures/auth.fixture.ts
  frontend/tests/e2e/pages/login.page.ts
Due: typescript

docs: Add E2E testing documentation and additional test files
  frontend/docs/e2e-testing-guide.md
  frontend/e2e/.gitignore
  frontend/e2e/README.md
  frontend/e2e/fixtures/api.fixture.ts
  frontend/e2e/fixtures/auth.fixture.ts
  frontend/e2e/fixtures/test-data.fixture.ts
  frontend/e2e/pages/base.page.ts
  frontend/e2e/pages/login.page.ts
  frontend/e2e/playwright.config.ts
  frontend/e2e/setup/test.setup.ts
  frontend/e2e/setup/test.teardown.ts
  frontend/e2e/sprint2-day1-report.md
  frontend/e2e/sprint2-day2-report.md
  frontend/e2e/sprint2-day3-report.md
  frontend/e2e/sprint3-day2-report.md
  frontend/e2e/tests/accessibility.spec.ts
  frontend/e2e/tests/api-integration.spec.ts
  frontend/e2e/tests/mobile.spec.ts
  frontend/e2e/tests/navigation.spec.ts
  frontend/e2e/tests/performance.spec.ts
  frontend/e2e/tests/smoke/app-load.spec.ts
  frontend/e2e/tests/test-data-management.spec.ts
  frontend/e2e/tests/user-management.spec.ts
  frontend/e2e/tests/visual-regression.spec.ts
  frontend/e2e/tsconfig.json
  frontend/e2e/utils/test-data-manager.ts
Due: typescript

fix: Replace any type with Page type in auth fixture
  frontend/tests/e2e/fixtures/auth.fixture.ts
Due: typescript

feat: Add user CRUD and organization management E2E tests
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/repositories/task.py
  backend/app/schemas/task.py
  backend/docs/day2-progress-report.md
  backend/docs/sprint1-completion-report.md
  backend/docs/sprint2-preparation-plan.md
  backend/docs/test-guidelines.md
  backend/tests/integration/test_organization_department_integration.py
  backend/tests/integration/test_task_service_integration.py
  frontend/tests/e2e/README.md
  frontend/tests/e2e/organizations/org-management.spec.ts
  frontend/tests/e2e/users/user-crud.spec.ts
Due: mypy, typescript

fix: Apply Ruff formatting to resolve linting errors
  backend/app/core/config.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/models/user.py
  backend/app/repositories/task.py
  backend/app/schemas/task.py
  backend/tests/integration/test_organization_department_integration.py
  backend/tests/integration/test_task_service_integration.py
Due: mypy

fix: Resolve import errors and linting issues
  backend/app/models/task.py
  backend/app/repositories/task.py
  backend/app/schemas/task.py
  backend/tests/integration/test_organization_department_integration.py
  backend/tests/integration/test_task_service_integration.py
Due: mypy

chore: Remove old e2e directory with linting issues
  frontend/e2e/.gitignore
  frontend/e2e/README.md
  frontend/e2e/fixtures/api.fixture.ts
  frontend/e2e/fixtures/auth.fixture.ts
  frontend/e2e/fixtures/test-data.fixture.ts
  frontend/e2e/pages/base.page.ts
  frontend/e2e/pages/login.page.ts
  frontend/e2e/playwright.config.ts
  frontend/e2e/setup/test.setup.ts
  frontend/e2e/setup/test.teardown.ts
  frontend/e2e/sprint2-day1-report.md
  frontend/e2e/sprint2-day2-report.md
  frontend/e2e/sprint2-day3-report.md
  frontend/e2e/sprint3-day2-report.md
  frontend/e2e/tests/accessibility.spec.ts
  frontend/e2e/tests/api-integration.spec.ts
  frontend/e2e/tests/mobile.spec.ts
  frontend/e2e/tests/navigation.spec.ts
  frontend/e2e/tests/performance.spec.ts
  frontend/e2e/tests/smoke/app-load.spec.ts
  frontend/e2e/tests/test-data-management.spec.ts
  frontend/e2e/tests/user-management.spec.ts
  frontend/e2e/tests/visual-regression.spec.ts
  frontend/e2e/tsconfig.json
  frontend/e2e/utils/test-data-manager.ts
Due: typescript

feat: Complete E2E CI integration and additional test cases
  .github/workflows/e2e.yml
  backend/scripts/setup_test_data.py
  frontend/package.json
  frontend/tests/e2e/api/api-integration.spec.ts
  frontend/tests/e2e/departments/department-management.spec.ts
  frontend/tests/e2e/integration/workflow-integration.spec.ts
  frontend/tests/e2e/permissions/permission-system.spec.ts
  frontend/tests/e2e/tasks/task-management.spec.ts
Due: mypy, typescript

fix: Correct BACKEND_CORS_ORIGINS format for E2E tests
  .github/workflows/e2e.yml
Due: none

fix: CI/CD improvements for E2E tests
  backend/.env.example
  backend/scripts/setup_test_data.py
  frontend/vite.config.ts
Due: mypy, typescript

fix: Update E2E workflow to use Playwright's built-in webServer
  .github/workflows/e2e.yml
Due: none

fix: Format setup_test_data.py to pass ruff checks
  backend/scripts/setup_test_data.py
Due: mypy

fix: Temporarily adjust CI/CD to get green checks
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  frontend/tests/e2e/smoke/app-startup.spec.ts
Due: typescript
