Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

fix: Ensure E2E smoke test runs in CI
  .github/workflows/e2e.yml
Due: none

feat: Implement Department Service Phase 2 - Hierarchical structure and Task integration
  backend/DEPARTMENT_SERVICE_PHASE2_DESIGN.md
  backend/DEPARTMENT_SERVICE_PHASE2_ISSUE.md
  backend/PR94_FINAL_STATUS.md
  backend/alembic/versions/006_add_department_hierarchy_fields.py
  backend/alembic/versions/007_add_department_inherit_permissions.py
  backend/alembic/versions/008_add_department_collaborations.py
  backend/app/models/__init__.py
  backend/app/models/department.py
  backend/app/models/department_collaboration.py
  backend/app/models/department_task.py
  backend/app/models/task.py
  backend/app/repositories/department.py
  backend/app/services/department.py
  backend/app/types/__init__.py
  backend/tests/conftest.py
  backend/tests/test_department_collaboration.py
  backend/tests/test_department_hierarchy.py
  backend/tests/test_department_permission_inheritance.py
  backend/tests/test_department_task_integration.py
Due: mypy

feat: Complete E2E testing infrastructure and CI/CD fixes
  .github/workflows/e2e.yml
  backend/.env.example
  backend/app/core/config.py
  docs/E2E_TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  frontend/tests/e2e/accessibility/a11y-checks.spec.ts
  frontend/tests/e2e/performance/concurrent-users.spec.ts
  frontend/tests/e2e/performance/load-testing.spec.ts
  frontend/tests/e2e/smoke/app-startup.spec.ts
Due: mypy, typescript

fix: Resolve ESLint errors in E2E tests
  frontend/.eslintrc.cjs
  frontend/tests/e2e/performance/concurrent-users.spec.ts
  frontend/tests/e2e/performance/load-testing.spec.ts
Due: typescript

feat: Complete E2E testing stability and performance improvements
  .github/workflows/e2e.yml
  frontend/playwright.config.ts
  frontend/tests/e2e/performance/concurrent-users.spec.ts
  frontend/tests/e2e/performance/load-testing.spec.ts
  frontend/tests/e2e/smoke/app-startup.spec.ts
Due: typescript

fix: Format backend config.py to pass ruff checks
  backend/app/core/config.py
Due: mypy

feat: Implement Role Service, Role Management API, and Permission Matrix
  backend/app/api/v1/permissions.py
  backend/app/api/v1/roles.py
  backend/app/api/v1/router.py
  backend/app/services/permission_matrix.py
  backend/app/services/role.py
  backend/tests/integration/api/v1/test_roles.py
  backend/tests/integration/test_phase2_sprint2_day3.py
  backend/tests/integration/test_role_permission_integration.py
  backend/tests/unit/services/test_permission_matrix.py
  backend/tests/unit/services/test_role_service.py
Due: mypy

feat: Optimize E2E tests for CI stability and performance
  .github/workflows/e2e.yml
  frontend/playwright.config.ts
  frontend/tests/e2e/critical/critical-path.spec.ts
  frontend/tests/e2e/performance/concurrent-users.spec.ts
  frontend/tests/e2e/performance/load-testing.spec.ts
  frontend/tests/e2e/smoke/app-startup.spec.ts
Due: typescript

fix: Fix BACKEND_CORS_ORIGINS parsing in E2E workflow
  .github/workflows/e2e.yml
Due: none

fix: Simplify CORS origins configuration for CI stability
  backend/app/core/config.py
Due: mypy

fix: Add default CORS origins to prevent parsing errors
  backend/app/core/config.py
Due: mypy

docs: Add Phase 2 Sprint 3 Day 2 completion report
  .github/workflows/e2e.yml
  docs/development/phase2-sprint3-day2-report.md
Due: none

feat: Add common schemas and basic role service tests
  backend/app/schemas/common.py
  backend/tests/integration/test_role_service_basic.py
Due: mypy

feat: Complete Phase 2 Sprint 3 Day 3 - E2E environment fixes and documentation
  .github/workflows/e2e.yml
  backend/app/core/config.py
  backend/app/core/database.py
  backend/pyproject.toml
  backend/scripts/init_test_data.py
  docs/planning/phase3-e2e-strategy.md
  docs/testing/e2e-testing-guide.md
  docs/testing/e2e-troubleshooting.md
  frontend/tests/e2e/smoke/app-startup.spec.ts
  scripts/wait-for-services.sh
Due: mypy, typescript

fix: Fix SQLAlchemy join errors and deprecation warnings
  backend/app/api/v1/roles.py
  backend/app/services/role.py
  backend/tests/integration/test_role_service_basic.py
Due: mypy

fix: Resolve OrganizationResponse settings serialization issue
  backend/app/api/v1/departments.py
  backend/app/api/v1/organizations.py
  backend/app/models/organization.py
  backend/app/repositories/organization.py
  backend/app/schemas/organization.py
  backend/app/schemas/task.py
  backend/app/services/department.py
  backend/app/services/organization.py
  backend/app/services/task.py
  backend/docs/DEPARTMENT_SERVICE_API.md
  backend/docs/DEPARTMENT_SERVICE_IMPLEMENTATION_SUMMARY.md
  backend/tests/factories/organization.py
  backend/tests/test_department_workflow.py
  backend/tests/test_organization_settings.py
  backend/tests/test_task_management/integration/test_task_api.py
  backend/tests/test_task_management/unit/test_task_service.py
Due: mypy

fix: Resolve E2E test failures with CORS config and lint fixes
  backend/app/core/config.py
  backend/app/core/database.py
  backend/scripts/init_test_data.py
  backend/uv.lock
  frontend/playwright-ci.config.ts
  frontend/tests/e2e/basic/smoke.spec.ts
Due: mypy, typescript

feat: Add comprehensive basic E2E tests for CI stability
  frontend/tests/e2e/basic/accessibility.spec.ts
  frontend/tests/e2e/basic/health-check.spec.ts
  frontend/tests/e2e/basic/navigation.spec.ts
Due: typescript

fix: Resolve OrganizationResponse settings JSON serialization
  backend/app/repositories/organization.py
  backend/app/schemas/organization.py
  backend/tests/integration/api/v1/test_organizations.py
Due: mypy

fix: Add missing ENVIRONMENT field to Settings class
  backend/app/core/config.py
Due: mypy

fix: Change CORS origins type from List[AnyHttpUrl] to List[str]
  backend/app/core/config.py
Due: mypy

fix: Add missing Settings fields and improve E2E test config
  .github/workflows/e2e.yml
  backend/app/core/config.py
Due: mypy

fix: Continue mypy type error fixes for PR #96 CI/CD
  backend/app/api/v1/projects.py
  backend/app/api/v1/tasks.py
  backend/app/core/cache.py
  backend/app/interfaces/organization_interface.py
  backend/app/interfaces/role_interface.py
  backend/app/models/project.py
  backend/app/models/role.py
  backend/app/models/role_permission.py
  backend/app/models/task.py
  backend/app/repositories/organization.py
  backend/app/repositories/role.py
Due: mypy

fix: Additional mypy type fixes for PR #96 CI/CD
  backend/app/core/performance.py
  backend/app/interfaces/organization_interface.py
  backend/app/models/project_member.py
  backend/app/models/role_permission.py
  backend/app/services/organization.py
Due: mypy

fix: Apply ruff formatting for final CI compliance
  backend/PR94_MERGE_READY.md
  backend/app/repositories/organization.py
  backend/tests/integration/api/v1/test_organizations.py
Due: mypy

fix: Major mypy type error fixes for PR #96 CI/CD
  backend/app/schemas/project.py
  backend/app/schemas/task.py
  backend/app/services/organization.py
  backend/app/services/permission.py
Due: mypy

fix: Complete type error fixes in app/services/project.py
  backend/app/services/project.py
Due: mypy

fix: Near-complete mypy type error resolution for PR #96
  backend/app/core/permission_checker.py
  backend/app/services/task.py
Due: mypy

fix: Complete E2E CI stability improvements and lint resolution
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  backend/app/core/config.py
  frontend/playwright.config.ts
  frontend/tests/e2e/auth/login.spec.ts
  frontend/tests/e2e/basic/navigation.spec.ts
  frontend/tests/e2e/basic/smoke.spec.ts
Due: mypy, typescript

fix: Resolve type errors in project service and related models
  backend/app/models/project.py
  backend/app/schemas/project.py
  backend/app/services/project.py
Due: mypy

feat: Complete elimination of all mypy type errors! 🎉
  backend/app/services/cross_service_integration.py
Due: mypy

Fix test collection errors for PR #94
  backend/alembic/versions/006_complete_type_safe_schema.py
  backend/alembic/versions/007_add_task_department_integration.py
Due: mypy

feat: Implement complete Organization-Role integration system
  backend/app/api/v1/integration.py
  backend/app/api/v1/router.py
  backend/app/services/organization_role_integration.py
  backend/tests/integration/test_organization_integration.py
Due: mypy

feat: CRITICAL - Implement Task-Department integration for Phase 3
  backend/alembic/versions/006_add_task_department_integration.py
  backend/app/api/v1/departments.py
  backend/app/api/v1/tasks.py
  backend/app/models/department.py
  backend/app/models/task.py
  backend/app/schemas/task.py
  backend/app/services/task.py
  backend/tests/integration/test_task_department_integration_critical.py
Due: mypy

feat: Complete E2E stabilization with Phase 3 integration testing
  .github/workflows/e2e.yml
  backend/app/core/config.py
  frontend/tests/e2e/integration/organization-integration.spec.ts
  frontend/tests/e2e/integration/role-department.spec.ts
  frontend/tests/e2e/phase3/cross-service-workflows.spec.ts
  frontend/tests/e2e/utils/test-reporter.ts
Due: mypy, typescript

feat: Complete Phase 3 ERP Integration System with Role Authentication
  backend/app/api/v1/integration.py
  backend/app/services/integration_service.py
  backend/app/services/organization_role_integration.py
  backend/app/services/role.py
  backend/tests/integration/test_organization_integration.py
  backend/tests/integration/test_role_integration.py
Due: mypy

CRITICAL: Fix CORS JSON parsing error in CI environment
  backend/app/core/config.py
Due: mypy

CRITICAL FIX: Resolve pydantic CORS type conflict
  backend/app/core/config.py
  backend/app/main.py
Due: mypy

fix: Resolve Task-Department integration test issues
  backend/app/models/department.py
  backend/tests/conftest.py
  backend/tests/factories/department.py
  backend/tests/integration/test_task_department_integration_critical.py
Due: mypy
