Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$

fix: Phase 5 - Model dependency fixes for authentication integration
  backend/PHASE_4_FINAL_REPORT.md
  backend/PHASE_5_INTEGRATION_PLAN.md
  backend/PHASE_5_PROGRESS_REPORT.md
  backend/app/api/v1/password_reset.py
  backend/app/core/exceptions.py
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/models/user_session.py.backup
  backend/app/schemas/base.py
  backend/app/schemas/security/__init__.py
  backend/fix_model_duplicates.py
  backend/model_backup_20250728_165122/user_extended.py
  backend/model_backup_20250728_165122/user_session.py
  backend/test_model_imports.py
  backend/test_phase5_integration.py
Due: mypy

docs: Add Phase 5 status summary
  backend/PHASE_5_STATUS_SUMMARY.md
Due: none

fix: Resolve model import and relationship issues for testing
  backend/app/api/v1/inventory_v21.py
  backend/app/api/v1/products_simple.py
  backend/app/api/v1/products_v21.py
  backend/app/api/v1/sales_v21.py
  backend/app/api/v1/test_minimal.py
  backend/app/api/v1/users_simple.py
  backend/app/core/cache.py
  backend/app/core/database_simple.py
  backend/app/crud/inventory_basic.py
  backend/app/crud/organization_basic.py
  backend/app/crud/product_basic.py
  backend/app/crud/sales_basic.py
  backend/app/crud/user_basic.py
  backend/app/models/__init__.py
  backend/app/models/inventory.py
  backend/app/models/organization.py
  backend/app/models/password_reset.py
  backend/app/models/project_extended.py
  backend/app/models/sales.py
  backend/app/schemas/inventory_basic.py
  backend/app/schemas/product_basic.py
  backend/app/services/task.py
  backend/tests/api/v1/test_auth_phase4.py
Due: mypy

fix: Resolve merge conflicts and add missing imports
  backend/app/crud/organization_basic.py
  backend/app/crud/product_basic.py
  backend/app/services/task.py
Due: mypy

feat: Add production deployment infrastructure
  backend/app/api/v1/__init__.py
  backend/scripts/create_admin.py
  docs/deployment/PRODUCTION_DEPLOYMENT_GUIDE.md
  scripts/backup-database.sh
  scripts/restore-database.sh
  scripts/setup-production.sh
Due: mypy

docs: Add project management feature brief (Phase 0)
  docs/features/project-management/feature_brief.md
Due: none

feat: Add project management Gherkin scenarios (Phase 1)
  docs/features/project-management/acceptance_criteria.md
  docs/features/project-management/scenarios.feature
Due: none

fix: Auto-fix linting and formatting issues [CC03]
  backend/app/crud/organization_basic.py
  backend/scripts/create_admin.py
Due: mypy

feat: Add additional requirements based on PR feedback
  docs/features/project-management/acceptance_criteria.md
  docs/features/project-management/feature_brief.md
  docs/features/project-management/scenarios.feature
Due: none

docs: Phase 2 - プロジェクト管理システム技術仕様書完成
  docs/features/project-management/api_spec.yaml
  docs/features/project-management/data_model.md
  docs/features/project-management/infrastructure.md
  docs/features/project-management/ui_design.md
Due: none

fix: Address high-priority CI/CD improvements from issue #650
  .github/workflows/ci-cd-backend.yml.disabled
  .github/workflows/ci-cd-frontend.yml.disabled
  .github/workflows/ci-development.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/e2e-tests.yml
  .github/workflows/e2e.yml
  .github/workflows/optimized-ci.yml.disabled
  .github/workflows/security-scan.yml
  .github/workflows/type-safety-gate.yml.disabled
  .github/workflows/typecheck.yml.disabled
  .github/workflows/ultra-optimized-ci.yml.disabled
  backend/tests/unit/test_project_management/__init__.py
  backend/tests/unit/test_project_management/test_project_models.py
  backend/tests/unit/test_project_management/test_project_services.py
  docs/technical/ci-cd-improvement-plan-issue-650.md
Due: mypy

fix: Auto-fix linting and formatting issues [CC03]
  backend/tests/unit/test_project_management/__init__.py
  backend/tests/unit/test_project_management/test_project_models.py
  backend/tests/unit/test_project_management/test_project_services.py
Due: mypy

feat: Phase 4 - プロジェクト管理システムの実装完了
  backend/alembic/versions/008_add_project_management_tables.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/project_management.py
  backend/app/models/__init__.py
  backend/app/models/organization.py
  backend/app/models/project_management.py
  backend/app/models/user.py
  backend/app/schemas/project_management.py
  backend/app/services/project_management.py
  frontend/e2e/pages/ProjectManagementPage.ts
  frontend/e2e/project-management-advanced.spec.ts
  frontend/e2e/project-management-with-page-objects.spec.ts
  frontend/e2e/project-management.spec.ts
  frontend/e2e/utils/project-test-data.ts
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/project-management/BudgetManager.tsx
  frontend/src/components/project-management/GanttChart.tsx
  frontend/src/components/project-management/ProjectCard.tsx
  frontend/src/components/project-management/ProjectDashboard.tsx
  frontend/src/components/project-management/ProjectForm.tsx
  frontend/src/components/project-management/ProjectMemberList.tsx
  frontend/src/components/project-management/TaskForm.tsx
  frontend/src/components/project-management/TaskTree.tsx
  frontend/src/components/project-management/index.ts
  frontend/src/pages/project-management/ProjectDetailPage.tsx
  frontend/src/pages/project-management/ProjectListPage.tsx
  frontend/src/pages/project-management/index.ts
  frontend/src/services/projectManagement.ts
  frontend/src/services/projectManagementExtended.ts
Due: mypy, typescript

fix: Auto-fix linting and formatting issues [CC03]
  backend/alembic/versions/008_add_project_management_tables.py
  backend/app/api/v1/project_management.py
  backend/app/models/__init__.py
  backend/app/schemas/project_management.py
  backend/app/services/project_management.py
  frontend/src/App.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/project-management/BudgetManager.tsx
  frontend/src/components/project-management/GanttChart.tsx
  frontend/src/components/project-management/ProjectCard.tsx
  frontend/src/components/project-management/ProjectDashboard.tsx
  frontend/src/components/project-management/ProjectForm.tsx
  frontend/src/components/project-management/ProjectMemberList.tsx
  frontend/src/components/project-management/TaskForm.tsx
  frontend/src/components/project-management/TaskTree.tsx
  frontend/src/components/project-management/index.ts
  frontend/src/pages/project-management/ProjectDetailPage.tsx
  frontend/src/pages/project-management/ProjectListPage.tsx
  frontend/src/pages/project-management/index.ts
  frontend/src/services/projectManagement.ts
  frontend/src/services/projectManagementExtended.ts
Due: mypy, typescript

[WIP] #646: Project Management System - Phase 0 & Phase 1 Complete (#654)
  backend/alembic/versions/008_add_project_management_tables.py
  backend/app/api/v1/__init__.py
  backend/app/api/v1/project_management.py
  backend/app/crud/organization_basic.py
  backend/app/models/__init__.py
  backend/app/models/organization.py
  backend/app/models/project_management.py
  backend/app/models/user.py
  backend/app/schemas/project_management.py
  backend/app/services/project_management.py
  backend/scripts/create_admin.py
  docs/features/project-management/acceptance_criteria.md
  docs/features/project-management/api_spec.yaml
  docs/features/project-management/data_model.md
  docs/features/project-management/feature_brief.md
  docs/features/project-management/infrastructure.md
  docs/features/project-management/scenarios.feature
  docs/features/project-management/ui_design.md
  frontend/e2e/pages/ProjectManagementPage.ts
  frontend/e2e/project-management-advanced.spec.ts
  frontend/e2e/project-management-with-page-objects.spec.ts
  frontend/e2e/project-management.spec.ts
  frontend/e2e/utils/project-test-data.ts
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/project-management/BudgetManager.tsx
  frontend/src/components/project-management/GanttChart.tsx
  frontend/src/components/project-management/ProjectCard.tsx
  frontend/src/components/project-management/ProjectDashboard.tsx
  frontend/src/components/project-management/ProjectForm.tsx
  frontend/src/components/project-management/ProjectMemberList.tsx
  frontend/src/components/project-management/TaskForm.tsx
  frontend/src/components/project-management/TaskTree.tsx
  frontend/src/components/project-management/index.ts
  frontend/src/pages/project-management/ProjectDetailPage.tsx
  frontend/src/pages/project-management/ProjectListPage.tsx
  frontend/src/pages/project-management/index.ts
  frontend/src/services/projectManagement.ts
  frontend/src/services/projectManagementExtended.ts
Due: mypy, typescript

fix: CI/CD improvements from issue #650 (clean implementation)
  .github/workflows/ci-cd-backend.yml.disabled
  .github/workflows/ci-cd-frontend.yml.disabled
  .github/workflows/ci-development.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/e2e-tests.yml
  .github/workflows/optimized-ci.yml.disabled
  .github/workflows/security-scan.yml
  .github/workflows/type-safety-gate.yml.disabled
  .github/workflows/typecheck.yml.disabled
  .github/workflows/ultra-optimized-ci.yml.disabled
Due: none

fix: CI/CD improvements from issue #650 (clean implementation) (#657)
  .github/workflows/ci-cd-backend.yml.disabled
  .github/workflows/ci-cd-frontend.yml.disabled
  .github/workflows/ci-development.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/e2e-tests.yml
  .github/workflows/optimized-ci.yml.disabled
  .github/workflows/security-scan.yml
  .github/workflows/type-safety-gate.yml.disabled
  .github/workflows/typecheck.yml.disabled
  .github/workflows/ultra-optimized-ci.yml.disabled
Due: none

feat: Complete Phase 0 for Financial Management System (#647)
  docs/features/financial-management/phase0/ACCEPTANCE_CRITERIA_FINANCIAL_MANAGEMENT.md
  docs/features/financial-management/phase0/ACCOUNTING_COMPLIANCE_CHECKLIST.md
  docs/features/financial-management/phase0/FEATURE_BRIEF_FINANCIAL_MANAGEMENT.md
  docs/features/financial-management/phase0/FUNCTION_PRIORITIZATION.md
Due: none

feat: Complete Phase 1 Gherkin scenarios for Financial Management (#647)
  docs/features/financial-management/phase1/scenarios/budget_management.feature
  docs/features/financial-management/phase1/scenarios/expense_management.feature
  docs/features/financial-management/phase1/scenarios/financial_reporting.feature
  docs/features/financial-management/phase1/scenarios/invoice_revenue_management.feature
Due: none

feat: Complete Phase 2 Technical Documentation for Financial Management (#647)
  docs/features/financial-management/phase2/api/openapi_financial_management.yaml
  docs/features/financial-management/phase2/architecture/SYSTEM_ARCHITECTURE_FINANCIAL_MANAGEMENT.md
  docs/features/financial-management/phase2/data-model/DATA_MODEL_FINANCIAL_MANAGEMENT.md
  docs/features/financial-management/phase2/ui-ux/UI_UX_WIREFRAMES_FINANCIAL_MANAGEMENT.md
Due: none

feat: Phase 3 - 財務管理システムのテストスイート作成完了
  docs/features/financial-management/phase3/backend-tests/test_budget_service.py
  docs/features/financial-management/phase3/backend-tests/test_expense_service.py
  docs/features/financial-management/phase3/backend-tests/test_financial_integration.py
  docs/features/financial-management/phase3/backend-tests/test_invoice_service.py
  docs/features/financial-management/phase3/e2e-tests/test_financial_e2e.cy.ts
  docs/features/financial-management/phase3/frontend-tests/test_budget_components.tsx
  docs/features/financial-management/phase3/frontend-tests/test_expense_components.tsx
  docs/features/financial-management/phase3/frontend-tests/test_invoice_components.tsx
Due: none

docs: Phase 3完了報告書を追加
  docs/features/financial-management/PROGRESS_PHASE3.md
Due: none

fix: Consolidate deployment workflows (#650)
  .github/workflows/cd-production.yaml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/production-deploy.yml
Due: none

fix(ci): consolidate deployment workflows (phase 1)
  .github/workflows/cd-production.yaml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-unified.yml
  .github/workflows/deploy.yml
  .github/workflows/production-deploy.yml
Due: none

fix: use consistent SLACK_WEBHOOK_URL secret name
  .github/workflows/deploy-unified.yml
Due: none

fix(ci): Consolidate deployment workflows (Phase 1) #650 (#660)
  .github/workflows/cd-production.yaml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-unified.yml
  .github/workflows/deploy.yml
  .github/workflows/production-deploy.yml
Due: none

test: trigger workflow verification
  README.md
  docs/workflow-test/WORKFLOW_VERIFICATION.md
Due: none
