Repository itdojp/ITDO_ERP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, typescript

mypy:
  name: mypy
  entry: bash -c 'cd backend && uv run mypy --strict .'
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

feat: Minimal health check API - v19.0 practical (#401)
  backend/CC02_RECOVERY_LOG.md
  backend/app/api/v1/health_simple.py
  backend/app/api/v1/router.py
  backend/app/crud/sales_basic.py
  backend/app/models/sales.py
  backend/tests/api/test_health_simple.py
Due: mypy

feat: Add ERP product list page
  frontend/src/pages/products/ProductList.test.tsx
  frontend/src/pages/products/ProductList.tsx
Due: typescript

feat: Basic database setup - practical v19.0 approach
  backend/app/core/database_simple.py
Due: mypy

feat: Database setup - v19.0 practical (#402)
  backend/app/core/database_simple.py
Due: mypy

feat: Add simple user model - v19.0 practical approach
  backend/alembic/versions/001_create_users_simple.py
  backend/app/models/user_simple.py
Due: mypy

feat: User model - v19.0 practical (#403)
  backend/alembic/versions/001_create_users_simple.py
  backend/app/models/user_simple.py
Due: mypy

feat: Working user CRUD API - v19.0 practical approach
  backend/app/api/v1/router.py
  backend/app/api/v1/users_simple.py
  backend/app/schemas/user_simple.py
  backend/tests/api/test_users_simple.py
Due: mypy

feat: User CRUD API - v19.0 practical (#404)
  backend/app/api/v1/router.py
  backend/app/api/v1/users_simple.py
  backend/app/schemas/user_simple.py
  backend/tests/api/test_users_simple.py
Due: mypy

feat: Add ERP dashboard page
  frontend/src/pages/dashboard/Dashboard.test.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
Due: typescript

feat: Add organization API - v19.0 practical approach
  backend/alembic/versions/002_create_organizations_simple.py
  backend/app/api/v1/organizations_simple.py
  backend/app/api/v1/router.py
  backend/app/models/organization_simple.py
  backend/app/schemas/organization_simple.py
Due: mypy

feat: Organization API - v19.0 practical (#405)
  backend/alembic/versions/002_create_organizations_simple.py
  backend/app/api/v1/organizations_simple.py
  backend/app/api/v1/router.py
  backend/app/models/organization_simple.py
  backend/app/schemas/organization_simple.py
Due: mypy

feat: Add product API - v19.0 practical approach with stock management
  backend/CC02_PROGRESS_$(date +%Y%m%d_%H%M).md
  backend/alembic/versions/003_create_products_simple.py
  backend/app/api/v1/products_simple.py
  backend/app/api/v1/router.py
  backend/app/models/product_simple.py
  backend/app/schemas/product_simple.py
Due: mypy

feat: Product API - v19.0 practical with stock management (#406)
  backend/CC02_PROGRESS_$(date +%Y%m%d_%H%M).md
  backend/alembic/versions/003_create_products_simple.py
  backend/app/api/v1/products_simple.py
  backend/app/api/v1/router.py
  backend/app/models/product_simple.py
  backend/app/schemas/product_simple.py
Due: mypy

feat: Optimize GitHub Actions workflow performance
  .github/workflows/ci-cd-backend.yml.disabled
  .github/workflows/ci-cd-frontend.yml.disabled
  .github/workflows/ci-development.yml.disabled
  .github/workflows/ci-main.yml
  .github/workflows/ci.yml.disabled
  .github/workflows/optimized-ci.yml.disabled
  .github/workflows/type-safety-gate.yml.disabled
  .github/workflows/typecheck.yml.disabled
  .github/workflows/ultra-optimized-ci.yml.disabled
  backend/app/api/v1/endpoints/feature_flags.py
  backend/app/api/v1/health.py
  backend/app/core/cost_monitoring.py
  backend/app/core/feature_flags.py
  backend/app/core/health.py
  backend/app/models/organization.py
  backend/pyproject.toml
  backend/tests/test_feature_flags.py
  backend/tests/test_health_checks.py
Due: mypy

feat: Add user profile page
  frontend/CC01_LOG.txt
  frontend/CC01_SESSION_LOG.md
  frontend/src/pages/users/UserProfile.tsx
Due: typescript

feat: Add user edit form component
  frontend/src/components/users/UserEditForm.tsx
Due: typescript

feat: Add organization list page
  frontend/src/pages/organizations/OrganizationList.tsx
Due: typescript

feat: Add user profile API endpoints
  backend/CC02_LOG.txt
  backend/app/api/v1/user_profile_v20.py
Due: mypy

feat: Add organization CRUD operations
  backend/app/crud/organization_v20.py
Due: mypy

feat: Add enhanced product list page
  frontend/src/pages/products/ProductListEnhanced.tsx
Due: typescript

feat: Add product model and migration
  backend/alembic/versions/004_create_products_v20.py
  backend/app/models/product_v20.py
Due: mypy

feat: Add product API endpoints
  backend/CC02_LOG.txt
  backend/app/api/v1/products_v20.py
Due: mypy

feat: Add product registration form component
  frontend/src/components/products/ProductRegistrationForm.tsx
Due: typescript

feat: Add inventory management models
  backend/app/models/inventory_v20.py
Due: mypy

feat: Add inventory transaction API endpoints
  backend/app/api/v1/inventory_v20.py
Due: mypy

feat: Add sales order models
  backend/app/models/sales_v20.py
Due: mypy

feat: Add sales order API endpoints
  backend/app/api/v1/sales_v20.py
Due: mypy

feat: Add comprehensive inventory list page
  frontend/src/pages/inventory/InventoryList.tsx
Due: typescript

feat: Optimize development environment performance
  frontend/vite.config.ts
Due: typescript

feat: Add comprehensive sales input page
  frontend/CC01_LOG.txt
  frontend/src/pages/sales/SalesInput.tsx
Due: typescript

docs: Complete CC03 CI/CD optimization protocol v17.0
  CC03_PROTOCOL_COMPLETION_REPORT.md
Due: none

test: CC02 alive check
  backend/test_cc02.md
Due: none

feat: Add minimal test endpoint for v21.0
  backend/app/api/v1/test_minimal.py
Due: mypy

feat: Add v21.0 simple APIs - products, inventory, sales
  backend/app/api/v1/inventory_v21.py
  backend/app/api/v1/products_v21.py
  backend/app/api/v1/sales_v21.py
Due: mypy

feat: Add product list page with mock data
  frontend/CC01_LOG.txt
  frontend/src/pages/products/ProductList.tsx
Due: typescript

feat: Add complete product API with CRUD operations
  backend/CC02_LOG.txt
  backend/CC02_alive.txt
  backend/app/api/v1/products.py
  backend/app/core/cache.py
Due: mypy

feat: Add inventory management API with transactions and levels
  backend/app/api/v1/inventory.py
Due: mypy

feat: Add sales orders API with full order lifecycle
  backend/app/api/v1/sales_orders.py
Due: mypy

feat: Add development environment setup and health check scripts
  scripts/health-check.sh
  scripts/setup-dev-env.sh
Due: none

feat: Add user permissions and roles API
  backend/app/api/v1/permissions.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/.*\.py$
  typescript: any of: ^frontend/.*\.(ts|tsx)$
